Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

docs: format Claude documentation and configuration files
  .claude/.log/notifications.log
  .claude/schemas/checkpoint.schema.json
  .claude/schemas/pdr.schema.json
  .claude/schemas/problems.schema.json
  .claude/schemas/tech-analysis.schema.json
  .claude/schemas/telemetry.schema.json
  .claude/schemas/todos.schema.json
  .claude/schemas/workflows.schema.json
  .claude/scripts/telemetry-report.ts
  .claude/scripts/validate-schemas.ts
  .claude/settings.json
Due: biome check --write

feat: add @formkit/auto-animate dependency
  package.json
  pnpm-lock.yaml
Due: none

feat: implement auto-animate global infrastructure
  src/components/AutoAnimateGlobal.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/types/auto-animate.d.ts
Due: biome check --write

feat: add new UI components with markdown support
  src/components/ui/Badge.astro
  src/components/ui/FilterButton.astro
  src/components/ui/IconLink.astro
  src/components/ui/MarkdownText.astro
Due: biome check --write

refactor: convert SkillsGrid from TSX to Astro
  src/components/interactive/SkillsGrid.astro
  src/components/interactive/SkillsGrid.tsx
  src/components/interactive/index.ts
  src/components/sections/SkillsSection.astro
Due: biome check --write

feat: add theme-aware Timeline component
  src/components/interactive/Timeline.tsx
  src/data/timeline.ts
Due: biome check --write

feat: enhance ProjectsSection with auto-animate and new components
  src/components/sections/ProjectsSection.astro
Due: biome check --write

refactor: improve AboutSection timeline integration
  src/components/sections/AboutSection.astro
Due: biome check --write

feat: add timeline translations for about section
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
Due: biome check --write

style: update generated color interpolations
  src/styles/generated-colors.css
Due: none

feat: enhance mobile timeline with 3D effects and special sections
  src/components/interactive/Timeline.tsx
  src/components/interactive/TimelineMobile.tsx
  src/styles/timeline-mobile.css
Due: biome check --write

refactor: optimize timeline data visibility for mobile experience
  src/data/timeline.ts
Due: biome check --write

feat: improve mobile navigation with slide animations
  src/components/layout/Navigation.astro
Due: biome check --write

feat: integrate enhanced timeline with section components
  src/components/sections/AboutSection.astro
  src/components/sections/ProjectsSection.astro
Due: biome check --write

feat(skills): enhance radar chart visibility with gradient axis lines
  src/components/interactive/RadarChart.tsx
Due: biome check --write

style(skills): improve language bars and theme support
  src/components/interactive/SkillsRadarGrid.astro
Due: biome check --write

feat(i18n): update English language skill description
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

feat: implement command palette system with fuzzy search and categorized results
  src/components/BuildSearchIndex.astro
  src/components/interactive/CommandButton.tsx
  src/components/interactive/CommandPalette.tsx
  src/components/interactive/HelpDialog.tsx
  src/data/commandPalette.ts
  src/hooks/useContentSearch.ts
  src/icons/ui/command.svg
  src/types/commandPalette.ts
  src/types/search.ts
  src/utils/searchIndex.ts
Due: biome check --write

build: integrate search index generation in astro build process
  astro.config.mjs
  integrations/search-index.ts
Due: biome check --write

chore: update dependencies and remove deprecated search scripts
  package.json
  pnpm-lock.yaml
Due: none

refactor: integrate command palette in navigation and component exports
  src/components/interactive/index.ts
  src/components/layout/Navigation.astro
  src/hooks/index.ts
  src/layouts/BaseLayout.astro
Due: biome check --write

feat: add new icons for social platforms and technology stack
  src/icons/social/buymeacoffe.svg
  src/icons/tech/claudecode.svg
  src/icons/tech/usa.svg
  src/icons/tech/wordpress.svg
  src/icons/timeline/broadband.svg
  src/icons/timeline/dialup.svg
  src/icons/timeline/ui.svg
Due: none

feat: update skills and timeline data with new technologies and experience
  src/components/sections/SkillsSection.astro
  src/components/ui/TimelineIcon.tsx
  src/data/skills.ts
  src/data/timeline.ts
  src/pages/[lang]/index.astro
Due: biome check --write

style: update existing icons with optimized SVG formatting
  src/icons/social/fiverr.svg
  src/icons/social/github.svg
  src/icons/social/linkedin.svg
  src/icons/social/upwork.svg
  src/icons/tech/astro.svg
  src/icons/tech/canva.svg
  src/icons/tech/claude.svg
  src/icons/tech/coreldraw.svg
  src/icons/tech/css3.svg
  src/icons/tech/drizzle.svg
  src/icons/tech/git.svg
  src/icons/tech/github.svg
  src/icons/tech/hono.svg
  src/icons/tech/html5.svg
  src/icons/tech/nodejs.svg
  src/icons/tech/photoshop.svg
  src/icons/tech/postgresql.svg
  src/icons/tech/react.svg
  src/icons/tech/restapi.svg
  src/icons/tech/spanish.svg
  src/icons/tech/tailwind.svg
  src/icons/tech/vscode.svg
  src/icons/tech/zod.svg
  src/icons/timeline/access.svg
  src/icons/timeline/avature.svg
  src/icons/timeline/html5.svg
  src/icons/timeline/make.svg
Due: none

style: update global styles and regenerate color system
  src/styles/generated-colors.css
  src/styles/global.css
Due: none

chore: update environment type definitions
  src/env.d.ts
Due: biome check --write

feat: update otherSkills category with new internationalized skills
  src/data/skills.ts
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write

del: remove all Twitter references from components and content
  src/components/layout/SEO.astro
  src/components/sections/TestimonialsSection.astro
  src/content/config.ts
  src/content/testimonials/david-chen.md
Due: biome check --write, prettier --write

del: remove twitter social icon
  src/icons/social/twitter.svg
Due: none

del: remove unused tech icons to optimize bundle size
  src/icons/tech/aws.svg
  src/icons/tech/blender.svg
  src/icons/tech/docker.svg
  src/icons/tech/figma.svg
  src/icons/tech/firebase.svg
  src/icons/tech/illustrator.svg
  src/icons/tech/laravel.svg
  src/icons/tech/linux.svg
  src/icons/tech/mongodb.svg
  src/icons/tech/mysql.svg
  src/icons/tech/netlify.svg
  src/icons/tech/nextjs.svg
  src/icons/tech/portuguese.svg
  src/icons/tech/python.svg
  src/icons/tech/redis.svg
  src/icons/tech/sketch.svg
  src/icons/tech/stripe.svg
  src/icons/tech/vercel.svg
  src/icons/tech/vue.svg
Due: none

fix: update RadarChart to support skill descriptions
  src/components/interactive/RadarChart.tsx
Due: biome check --write

feat: add search index generation for improved site search
  src/components/BuildSearchIndex.astro
  src/data/searchIndex.ts
Due: biome check --write

style: update generated color styles
  src/styles/generated-colors.css
Due: none

chore: add build scripts for project automation
  scripts/generateSearchIndex.mjs
Due: none

feat: add services section with pricing formats
  src/components/sections/ServicesSection.astro
  src/data/services.ts
Due: biome check --write

feat: add services navigation and command palette integration
  src/components/layout/Navigation.astro
  src/data/commandPalette.ts
Due: biome check --write

feat: add services translations for en/es locales
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

feat: integrate services section into main page
  src/pages/[lang]/index.astro
Due: biome check --write

feat: extend color system for services section
  integrations/color-interpolation.ts
  src/data/colors.ts
  src/styles/generated-colors.css
Due: biome check --write

chore: update dividers and data exports for services
  src/components/ui/dividers/DiagonalDivider.astro
  src/components/ui/dividers/WaveDivider.astro
  src/data/index.ts
  src/data/searchIndex.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: any of: *.md
