Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,astro}": ["biome check --write"],
    "*.md": ["prettier --write"]
}

feat(tools): support external URLs in navigation dropdown
  src/components/interactive/GoodiesDropdown.tsx
  src/components/layout/Navigation.astro
Due: biome check --write

feat(i18n): update tools translations for external links
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

fix(vercel): remove legacy secrets syntax from env config
  vercel.json
Due: none

fix(view-transitions): use event delegation for View Transitions compatibility
  src/components/AutoAnimateGlobal.astro
  src/components/sections/TestimonialsSection.astro
  src/components/ui/PixelCanvas.astro
  src/pages/[lang]/goodies/snippets/[slug].astro
  src/pages/[lang]/goodies/snippets/index.astro
  src/pages/[lang]/goodies/tools/index.astro
  src/scripts/smoothScroll.js
Due: biome check --write

feat(blog): responsive layout for 1-2 posts in home page
  src/components/cards/BlogPostCard.css
  src/components/sections/BlogSection.astro
Due: biome check --write

fix(contact): add default props to prevent SSR hydration errors
  src/components/forms/Contact.tsx
Due: biome check --write

refactor: remove unused code and imports
  src/components/sections/ServicesSection.astro
  src/components/sections/TestimonialsSection.astro
  src/components/ui/LanguageIcon.astro
  src/pages/[lang]/services/index.astro
Due: biome check --write

fix(view-transitions): reinitialize PixelCanvas after navigation
  src/components/ui/PixelCanvas.astro
Due: biome check --write

feat(goodies): add site and repo buttons to tool cards
  src/pages/[lang]/goodies.astro
Due: biome check --write

feat(content): add lang field to projects collection schema
  src/content/config.ts
Due: biome check --write

feat(utils): add getProjectSlug helper for i18n URLs
  src/utils/projects.ts
Due: biome check --write

feat(pages): filter projects by language for i18n support
  src/pages/[lang]/index.astro
  src/pages/[lang]/projects/[slug].astro
  src/pages/[lang]/projects/index.astro
Due: biome check --write

feat(components): update search and transitions for i18n projects
  src/components/BuildSearchIndex.astro
  src/components/transitions/ViewTransitionGSAP.astro
Due: biome check --write

chore(content): remove old non-i18n project files
  src/content/projects/ecommerce-platform.md
  src/content/projects/fitness-tracker.md
  src/content/projects/portfolio-builder.md
  src/content/projects/social-media-analytics.md
  src/content/projects/task-management-app.md
  src/content/projects/weather-dashboard.md
Due: prettier --write

fix(ui): ensure consistent image sizing with crop in project cards
  src/components/cards/ProjectCard.tsx
  src/components/ui/ImageCarousel.tsx
Due: biome check --write

fix(search): prevent duplicate language prefix in command palette URLs
  src/components/BuildSearchIndex.astro
  src/components/interactive/CommandPaletteInner.tsx
Due: biome check --write

feat(content): add page descriptions across all sections
  src/components/forms/Contact.tsx
  src/components/layout/Footer.astro
  src/components/sections/BlogSection.astro
  src/components/sections/ProjectsFeaturedSection.astro
  src/components/sections/TestimonialsSection.astro
  src/i18n/utils.ts
  src/locales/en/common.json
  src/locales/en/projects.json
  src/locales/en/services.json
  src/locales/en/skills.json
  src/locales/es/common.json
  src/locales/es/projects.json
  src/locales/es/services.json
  src/locales/es/skills.json
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/goodies.astro
  src/pages/[lang]/goodies/css-tricks/index.astro
  src/pages/[lang]/goodies/snippets/index.astro
  src/pages/[lang]/goodies/tools/index.astro
  src/pages/[lang]/goodies/useful-links/index.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/projects/index.astro
  src/pages/[lang]/services/index.astro
Due: biome check --write

fix(nav): improve View Transitions support and mobile nav behavior
  src/components/LifecycleInit.astro
  src/components/layout/Navigation.astro
  src/layouts/BaseLayout.astro
  src/lib/lifecycle.ts
Due: biome check --write

fix(testimonials): add instanceof Element checks before calling closest()
  src/components/sections/TestimonialsSection.astro
Due: biome check --write

fix(theme): add both light and dark mode to critical CSS inline
  src/layouts/BaseLayout.astro
Due: biome check --write

fix(mobile): add guard flags and cleanup for View Transitions (MF-001 to MF-005)
  src/components/layout/Navigation.astro
  src/components/sections/ProjectsSection.astro
  src/components/sections/TestimonialsSection.astro
Due: biome check --write

fix(mobile): integrate Lenis scroll for consistent smooth scrolling (MF-006 to MF-008)
  src/components/blog/TableOfContents.tsx
  src/components/interactive/ScrollToTop.tsx
  src/lib/lenis.ts
Due: biome check --write

fix(mobile): improve theme detection and performance optimizations (MF-010 to MF-012)
  src/components/ui/PixelCanvas.astro
  src/layouts/BaseLayout.astro
  src/lib/lenis.ts
Due: biome check --write

fix(mobile): use visualViewport for iOS Safari address bar changes (MF-013)
  src/components/ui/TechnologyFilter.tsx
Due: biome check --write

fix(mobile): use responsive font sizing for transition titles
  src/components/transitions/ViewTransitionGSAP.astro
Due: biome check --write

fix(nav): improve mobile menu UX and visual consistency
  src/components/interactive/CommandButton.tsx
  src/components/interactive/LanguageSelector.tsx
  src/components/layout/Navigation.astro
Due: biome check --write

fix(mobile): adjust CommandPalette to visual viewport for keyboard
  src/components/interactive/CommandPaletteInner.tsx
Due: biome check --write

perf: optimize mobile performance with deferred loading
  src/components/blog/MermaidRenderer.astro
  src/components/interactive/CommandButton.tsx
  src/components/layout/Navigation.astro
  src/layouts/BaseLayout.astro
  src/pages/[lang]/blog/[slug].astro
Due: biome check --write

perf(images): migrate all images to Astro Image optimization
  .gitignore
  integrations/testimonial-avatars.ts
  public/testimonials/avatars/ana-martinez.jpg
  public/testimonials/avatars/carlos-rodriguez.jpg
  public/testimonials/avatars/diego-lopez.jpg
  public/testimonials/avatars/jorge-luis-capoduri.jpg
  public/testimonials/avatars/jose-canciani.jpg
  public/testimonials/avatars/laura-fernandez.jpg
  public/testimonials/avatars/lucas-hernan-mayoni.jpg
  public/testimonials/avatars/maria-gonzalez.jpg
  public/testimonials/avatars/martin-torres.jpg
  public/testimonials/avatars/pedro-sanchez.jpg
  public/testimonials/avatars/roberto-diaz.jpg
  public/testimonials/avatars/sofia-ramirez.jpg
  public/testimonials/avatars/valentina-castro.jpg
  src/assets/images/avatar.png
  src/components/layout/Navigation.astro
  src/components/ui/HeroAvatar.astro
  src/content/config.ts
  src/content/testimonials/jorge-luis-capoduri.md
  src/content/testimonials/jose-canciani.md
  src/content/testimonials/lucas-hernan-mayoni.md
  src/pages/[lang]/index.astro
Due: biome check --write, prettier --write

perf(images): add width/height/decoding to React image components
  src/components/cards/BlogPostCard.tsx
  src/components/cards/ProjectCard.tsx
  src/components/sections/BlogSection.astro
  src/components/sections/ProjectGallery.tsx
  src/components/sections/ProjectsFeaturedSection.astro
  src/components/sections/ProjectsFeaturedStack.tsx
  src/components/ui/ImageCarousel.tsx
  src/components/ui/Lightbox.tsx
  src/pages/[lang]/index.astro
  src/pages/[lang]/projects/[slug].astro
  src/pages/[lang]/projects/index.astro
Due: biome check --write

fix(a11y): improve accessibility and add translated alt texts
  src/components/interactive/RadarChart.tsx
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/sections/HeroSection.astro
  src/components/sections/TestimonialsSection.astro
  src/components/ui/Button.tsx
  src/components/ui/HeroAvatar.astro
  src/content/blog/bienvenido-a-mi-blog-quien-soy-y-de-que-va-esto.md
  src/icons/ui/command.svg
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write, prettier --write

fix(perf): optimize keyboard handlers and fix View Transitions hydration
  src/components/interactive/SkillsRadarGrid.astro
  src/components/interactive/hooks/useTimelineAnimation.ts
  src/components/layout/Navigation.astro
Due: biome check --write

fix(timeline): improve hover UX with debounce and smaller detection area
  src/components/interactive/TimelineDesktop.tsx
  src/components/interactive/hooks/useTimelineAnimation.ts
  src/icons/timeline/html5.svg
  src/icons/timeline/javascript.svg
Due: biome check --write

docs: add CHANGELOG.md for version 1.0.0
  CHANGELOG.md
Due: prettier --write

refactor(timeline): major UX improvements and code reorganization
  src/components/interactive/TimelineContent.tsx
  src/components/interactive/TimelineDesktop.tsx
  src/components/interactive/TimelineWrapper.tsx
  src/components/interactive/hooks/useTimelineAnimation.ts
  src/components/interactive/index.ts
  src/components/sections/AboutSection.astro
  src/components/ui/TimelineIconSprite.astro
  src/data/timeline.ts
  src/icons/timeline/access.svg
  src/icons/timeline/arrow-trending-up.svg
  src/icons/timeline/bolt.svg
  src/icons/timeline/broadband.svg
  src/icons/timeline/computer-desktop.svg
  src/icons/timeline/dialup.svg
  src/icons/timeline/eye.svg
  src/icons/timeline/flag.svg
  src/icons/timeline/globe-alt.svg
  src/icons/timeline/html5.svg
  src/icons/timeline/paper-airplane.svg
  src/icons/timeline/php.svg
  src/icons/timeline/squares.svg
  src/icons/timeline/star.svg
  src/icons/timeline/ui.svg
  src/icons/timeline/user-circle.svg
  src/icons/timeline/visual-basic.svg
Due: biome check --write

docs(changelog): add version 1.0.1 with timeline improvements
  CHANGELOG.md
Due: prettier --write

feat(icons): add new icons for skills radar chart
  src/icons/tech/make.svg
  src/icons/tech/palette.svg
  src/icons/ui/bolt.svg
  src/icons/ui/lightbulb.svg
Due: none

feat(i18n): add socialMediaAndFlyers skill translations
  src/locales/en/skills.json
  src/locales/es/skills.json
Due: none
