Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

feat(skills): update skill icons and add socialMediaAndFlyers
  src/components/sections/SkillsSection.astro
  src/data/skills.ts
  src/pages/[lang]/index.astro
Due: biome check --write

feat(radar): center tooltip with translucent background
  src/components/interactive/RadarChart.tsx
  src/components/interactive/SkillsRadarGrid.astro
  src/utils/radarChart/calculations.ts
  src/utils/radarChart/positioning.ts
Due: biome check --write

docs(changelog): add version 1.0.2 with radar chart improvements
  CHANGELOG.md
Due: prettier --write

fix(radar): use skill color for currentColor icons
  src/components/interactive/RadarChart.tsx
Due: biome check --write

refactor(icons): simplify and fix tech icon SVGs
  src/icons/tech/astro.svg
  src/icons/tech/css3.svg
  src/icons/tech/html5.svg
Due: none

chore(icons): remove unused icons and consolidate github
  src/components/sections/SkillsSection.astro
  src/icons/tech/api.svg
  src/icons/tech/claude.svg
  src/icons/tech/github.svg
  src/icons/tech/php.svg
  src/icons/ui/arrow-top-right.svg
  src/icons/ui/calendar.svg
Due: biome check --write

chore(deps): add satori and resvg for OG image generation
  package.json
  pnpm-lock.yaml
Due: none

feat(og-image): add dynamic OG image generator utility
  src/utils/og-image/generate.ts
  src/utils/og-image/index.ts
Due: biome check --write

refactor(seo): dynamic OG image path based on URL pattern
  src/components/layout/SEO.astro
Due: biome check --write

feat(og-image): add OG endpoints for all pages
  src/pages/[lang]/blog/[slug]/og.png.ts
  src/pages/[lang]/goodies/css-tricks/[slug]/og.png.ts
  src/pages/[lang]/goodies/css-tricks/og.png.ts
  src/pages/[lang]/goodies/og.png.ts
  src/pages/[lang]/goodies/snippets/[slug]/og.png.ts
  src/pages/[lang]/goodies/snippets/og.png.ts
  src/pages/[lang]/goodies/tools/og.png.ts
  src/pages/[lang]/goodies/useful-links/og.png.ts
  src/pages/[lang]/og.png.ts
  src/pages/[lang]/projects/[slug]/og.png.ts
  src/pages/[lang]/services/[slug]/og.png.ts
  src/pages/[lang]/services/og.png.ts
Due: biome check --write

chore: update site URL to qazuor.com
  astro.config.mjs
Due: none

docs(changelog): add version 1.0.3 with OG image feature
  CHANGELOG.md
Due: prettier --write

refactor(timeline): improve navigation layout and mobile responsiveness
  CHANGELOG.md
  src/components/interactive/TimelineCard.tsx
  src/components/interactive/TimelineContent.tsx
  src/components/interactive/hooks/useTimelineAnimation.ts
Due: biome check --write, prettier --write

feat(blog): add social features configuration and i18n
  src/config/social.ts
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write

feat(blog): add Giscus comments system with theme sync
  src/components/blog/Comments.tsx
Due: biome check --write

feat(blog): add social share with Web Share API fallback
  src/components/blog/ShareButton.tsx
  src/components/icons/SocialIcons.tsx
  src/pages/[lang]/blog/[slug].astro
  src/utils/share.ts
Due: biome check --write

feat(blog): enhance social features with custom Giscus theme and share config
  CHANGELOG.md
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
  src/components/blog/Comments.tsx
  src/components/blog/ShareButton.tsx
  src/components/icons/SocialIcons.tsx
  src/config/social.ts
  src/data/index.ts
  src/data/shareButtons.ts
  src/pages/[lang]/blog/[slug].astro
  src/utils/share.ts
Due: biome check --write, prettier --write

feat(goodies): add social share and comments to CSS Tricks and Snippets
  src/pages/[lang]/goodies/css-tricks/[slug].astro
  src/pages/[lang]/goodies/snippets/[slug].astro
Due: biome check --write

feat(goodies): add share buttons and comments to snippets and css-tricks pages
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/goodies/css-tricks/[slug].astro
  src/pages/[lang]/goodies/snippets/[slug].astro
Due: biome check --write

chore(deps): add @giscus/react for comments integration
  package.json
  pnpm-lock.yaml
Due: none

fix(ui): resolve hydration errors and improve hero/footer components
  src/components/interactive/RadarChart.tsx
  src/components/layout/Footer.astro
  src/components/ui/PerformanceBadge.astro
  src/components/ui/TrustBadges.astro
  src/data/trustBadges.ts
  src/pages/[lang]/index.astro
  src/utils/radarChart/positioning.ts
Due: biome check --write

chore(lint): fix biome lint errors and formatting
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
  src/pages/[lang]/services/[slug]/og.png.ts
  src/utils/og-image/generate.ts
  src/utils/radarChart/positioning.ts
Due: biome check --write

feat(home): add FAQs section with two-column layout for clients and employers
  integrations/color-interpolation.ts
  src/components/sections/FAQsSection.astro
  src/components/ui/FAQItem.astro
  src/components/ui/dividers/DiagonalDivider.astro
  src/components/ui/dividers/WaveDivider.astro
  src/components/ui/dividers/ZigZagDivider.astro
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
  src/styles/generated-colors.css
Due: biome check --write

feat(about): add AboutSummaryCard for quick profile highlights
  src/components/sections/AboutSection.astro
  src/components/ui/AboutSummaryCard.astro
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
Due: biome check --write

feat(seo): enhance llms.txt with updated professional profile
  public/llms.txt
Due: none

feat(seo): add JSON-LD infrastructure with breadcrumbs
  src/components/seo/BreadcrumbJsonLd.astro
  src/components/seo/JsonLd.astro
  src/layouts/BaseLayout.astro
  src/types/jsonld.ts
  src/utils/breadcrumbs.ts
Due: biome check --write

feat(about): add StatsCounter with scroll-triggered animation
  src/components/ui/StatsCounter.tsx
  src/data/stats.ts
Due: biome check --write

feat(home): add Services Preview section with cards
  src/components/sections/ServicesPreviewSection.astro
  src/components/ui/ServicePreviewCard.astro
Due: biome check --write

feat(hero): add trust badges with icons
  src/components/sections/HeroSection.astro
  src/icons/ui/globe.svg
  src/icons/ui/star.svg
  src/icons/ui/zap.svg
Due: biome check --write

feat(config): add sitemap i18n and section colors
  astro.config.mjs
  src/data/colors.ts
Due: biome check --write

feat(testimonials): update content and add new entry
  src/content/testimonials/jesus-de-lucas.md
  src/content/testimonials/jorge-luis-capoduri.md
  src/content/testimonials/jose-canciani.md
  src/content/testimonials/lucas-hernan-mayoni.md
Due: prettier --write

docs(changelog): add version 1.1.0 with LLM optimization features
  CHANGELOG.md
Due: prettier --write

feat(seo): add JSON-LD schemas for blog, projects, goodies and services
  CHANGELOG.md
  src/components/seo/BlogPostJsonLd.astro
  src/components/seo/GoodiesJsonLd.astro
  src/components/seo/ProjectJsonLd.astro
  src/components/seo/ServiceJsonLd.astro
  src/content/blog/freelancer-vs-agencia-cuando-tiene-sentido-cada-opcion.md
  src/data/index.ts
  src/locales/en/services.json
  src/locales/es/services.json
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/goodies/css-tricks/[slug].astro
  src/pages/[lang]/goodies/snippets/[slug].astro
  src/pages/[lang]/projects/[slug].astro
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/index.astro
Due: biome check --write, prettier --write

feat(services): add Phase 3 enhancements - process, comparison, freelancer vs agency sections
  CHANGELOG.md
  src/components/sections/ComparisonSection.astro
  src/components/sections/FreelancerVsAgencySection.astro
  src/components/sections/ProcessSection.astro
  src/data/process.ts
  src/icons/ui/beaker.svg
  src/icons/ui/building-office.svg
  src/icons/ui/clipboard-document-list.svg
  src/icons/ui/code-bracket.svg
  src/icons/ui/currency-dollar.svg
  src/icons/ui/document-text.svg
  src/icons/ui/magnifying-glass-circle.svg
  src/icons/ui/paint-brush.svg
  src/icons/ui/rocket-launch.svg
  src/icons/ui/users.svg
  src/locales/en/services.json
  src/locales/es/services.json
Due: biome check --write, prettier --write

fix(view-transitions): resolve PixelCanvas and lifecycle event handling
  CHANGELOG.md
  src/components/AutoAnimateGlobal.astro
  src/components/LifecycleInit.astro
  src/components/blog/CalloutEnhancer.astro
  src/components/blog/MermaidRenderer.astro
  src/components/interactive/SkillsRadarGrid.astro
  src/components/layout/Navigation.astro
  src/components/sections/ProjectsSection.astro
  src/components/sections/TestimonialsSection.astro
  src/components/transitions/ViewTransitionGSAP.astro
  src/components/ui/PerformanceBadge.astro
  src/components/ui/PixelCanvas.astro
  src/components/ui/RotatingRoles.astro
  src/hooks/useContactForm.ts
  src/layouts/BaseLayout.astro
  src/lib/lifecycle.ts
  src/pages/[lang]/goodies/snippets/index.astro
  src/pages/[lang]/goodies/tools/index.astro
  src/scripts/typeIt.js
Due: biome check --write, prettier --write

feat(404): add custom 404 page with animated gradient background
  CHANGELOG.md
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/404.astro
Due: biome check --write, prettier --write

fix(timeline): resolve mobile autoplay and desktop centering issues
  CHANGELOG.md
  src/components/interactive/TimelineCard.tsx
  src/components/interactive/TimelineContent.tsx
  src/components/interactive/hooks/useTimelineAnimation.ts
Due: biome check --write, prettier --write

feat(services): add web optimization service with SEO, performance and accessibility
  CHANGELOG.md
  src/components/forms/Contact.tsx
  src/components/interactive/ServicesDropdown.tsx
  src/components/layout/Navigation.astro
  src/components/sections/ComparisonSection.astro
  src/components/ui/ServiceIcon.astro
  src/components/ui/ServiceIcon.tsx
  src/components/ui/ServicePreviewCard.astro
  src/data/interests.ts
  src/data/services.ts
  src/locales/en/common.json
  src/locales/en/services.json
  src/locales/es/common.json
  src/locales/es/services.json
  src/pages/[lang]/index.astro
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/index.astro
Due: biome check --write, prettier --write

fix(timeline): trigger autoplay only when viewport visible
  CHANGELOG.md
  src/components/interactive/hooks/useTimelineAnimation.ts
Due: biome check --write, prettier --write

feat(ui): add UnifiedButton component system with animated gradient hover
  CHANGELOG.md
  src/components/forms/SubmitButton.tsx
  src/components/sections/BlogSection.astro
  src/components/sections/ProjectsFeaturedSection.astro
  src/components/ui/DownloadLink.astro
  src/components/ui/GetInTouchLink.astro
  src/components/ui/UnifiedButton.astro
  src/components/ui/UnifiedButton.tsx
  src/components/ui/ViewProjectsLink.astro
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/blog/[slug].astro
Due: biome check --write, prettier --write

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: any of: *.md
