Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

refactor(i18n): rename tools section to goodies
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

refactor(styles): rename tools to goodies in color system
  integrations/color-interpolation.ts
  src/data/colors.ts
  src/styles/generated-colors.css
Due: biome check --write

refactor(pages): rename /tools routes to /goodies
  src/pages/[lang]/goodies.astro
  src/pages/[lang]/goodies/[...slug].astro
Due: biome check --write

refactor(components): update tools URLs to goodies
  src/components/BuildSearchIndex.astro
  src/components/cards/ToolCard.astro
  src/components/interactive/ToolsDropdown.tsx
  src/components/layout/Navigation.astro
  src/components/transitions/ViewTransitionGSAP.astro
  src/data/commandPalette.ts
  src/utils/searchIndex.ts
Due: biome check --write

chore(config): sort imports in astro config
  astro.config.mjs
Due: none

del(blog): remove English placeholder posts and obsolete images
  src/content/blog/_images/placeholder-1.jpg
  src/content/blog/_images/placeholder-2.jpg
  src/content/blog/_images/placeholder-3.jpg
  src/content/blog/_images/placeholder-default.jpg
  src/content/blog/_images/placeholder-frontend.jpg
  src/content/blog/_images/placeholder-programming.jpg
  src/content/blog/_images/placeholder-webdev.jpg
  src/content/blog/building-rest-apis-with-nodejs.md
  src/content/blog/cicd-github-actions.md
  src/content/blog/docker-multi-stage-builds.md
  src/content/blog/getting-started-with-astro.md
  src/content/blog/golang-concurrency-patterns.md
  src/content/blog/graphql-api-design.md
  src/content/blog/kubernetes-deployment-strategies.md
  src/content/blog/mastering-typescript.md
  src/content/blog/mongodb-schema-design.md
  src/content/blog/python-async-programming.md
  src/content/blog/react-19-new-features.md
  src/content/blog/react-hooks-patterns.md
  src/content/blog/rust-memory-safety.md
  src/content/blog/sql-advanced-queries.md
  src/content/blog/webassembly-introduction.md
Due: prettier --write

feat(blog): add thematic cover images for blog posts
  src/content/blog/_images/accessibility.jpg
  src/content/blog/_images/api-backend.jpg
  src/content/blog/_images/architecture-diagram.jpg
  src/content/blog/_images/astro-web.jpg
  src/content/blog/_images/code-typescript.jpg
  src/content/blog/_images/css-styling.jpg
  src/content/blog/_images/database-backend.jpg
  src/content/blog/_images/devops-cicd.jpg
  src/content/blog/_images/i18n-global.jpg
  src/content/blog/_images/monorepo-tools.jpg
  src/content/blog/_images/performance.jpg
  src/content/blog/_images/portfolio-design.jpg
  src/content/blog/_images/product-digital.jpg
  src/content/blog/_images/react-frontend.jpg
  src/content/blog/_images/security.jpg
  src/content/blog/_images/seo-marketing.jpg
  src/content/blog/_images/testing-qa.jpg
  src/content/blog/_images/tourism-travel.jpg
  src/content/blog/_images/ux-design.jpg
  src/content/blog/_images/web-development.jpg
Due: none

feat(blog): add welcome intro post
  src/content/blog/bienvenido-a-mi-blog-quien-soy-y-de-que-va-esto.md
Due: prettier --write

fix(blog): replace placeholder imports with fallback images
  public/placeholder.jpg
  src/components/sections/BlogSection.astro
Due: biome check --write

feat(blog): add configurable slug support in frontmatter
  src/components/BuildSearchIndex.astro
  src/components/transitions/ViewTransitionGSAP.astro
  src/content/config.ts
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/index.astro
  src/utils/blog/getAdjacentPosts.ts
  src/utils/blog/getEffectiveSlug.ts
  src/utils/blog/getRelatedPosts.ts
  src/utils/blog/getSeriesPosts.ts
  src/utils/blog/index.ts
  src/utils/searchIndex.ts
Due: biome check --write

chore: fix lint warnings and update biome schema
  biome.json
  integrations/astro-font-preloader/font-detector.ts
Due: biome check --write

style: fix lint warnings and format issues
  astro.config.mjs
  src/utils/blog/getSeriesPosts.ts
Due: biome check --write

fix(blog): make entire blog post card clickable
  src/components/cards/BlogPostCard.css
  src/components/cards/BlogPostCard.tsx
Due: biome check --write

refactor(blog): centralize category colors in dedicated module
  src/components/sections/BlogSection.astro
  src/data/categoryColors.ts
Due: biome check --write

feat(testimonials): rewrite section with 3D cards, modal, view more and real testimonials
  src/components/sections/TestimonialsSection.astro
  src/content/config.ts
  src/content/testimonials/ana-silva.md
  src/content/testimonials/carlos-rodriguez.md
  src/content/testimonials/david-chen.md
  src/content/testimonials/jorge-luis-capoduri.md
  src/content/testimonials/jose-canciani.md
  src/content/testimonials/lucas-hernan-mayoni.md
  src/content/testimonials/maria-gonzalez.md
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
Due: biome check --write, prettier --write

feat(testimonials): add avatars download integration for build-time caching
  astro.config.mjs
  integrations/testimonial-avatars.ts
  public/testimonials/avatars/ana-martinez.jpg
  public/testimonials/avatars/carlos-rodriguez.jpg
  public/testimonials/avatars/diego-lopez.jpg
  public/testimonials/avatars/jorge-luis-capoduri.jpg
  public/testimonials/avatars/jose-canciani.jpg
  public/testimonials/avatars/laura-fernandez.jpg
  public/testimonials/avatars/lucas-hernan-mayoni.jpg
  public/testimonials/avatars/maria-gonzalez.jpg
  public/testimonials/avatars/martin-torres.jpg
  public/testimonials/avatars/pedro-sanchez.jpg
  public/testimonials/avatars/roberto-diaz.jpg
  public/testimonials/avatars/sofia-ramirez.jpg
  public/testimonials/avatars/valentina-castro.jpg
Due: biome check --write

feat(blog): redesign listing page with modern cards, animations and improved pagination
  src/pages/[lang]/blog/[...page].astro
Due: biome check --write

fix(contact): update phone format and add full location
  src/data/contact.ts
Due: biome check --write

feat(contact): redesign section with split layout and floating labels
  src/components/forms/Contact.tsx
  src/components/forms/ContactInfo.tsx
  src/components/forms/FloatingFormField.tsx
  src/components/forms/InterestSelector.tsx
  src/components/forms/SubmitButton.tsx
  src/hooks/useContactForm.ts
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
Due: biome check --write

style(theme): add CSS variable for form input field backgrounds
  src/styles/global.css
Due: none

feat(contact): add subject field to contact form
  src/components/forms/Contact.tsx
  src/hooks/useContactForm.ts
Due: biome check --write

feat(i18n): add contact subject and testimonials viewMore translations
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

refactor(home): update contact and testimonials props with translations
  src/pages/[lang]/index.astro
Due: biome check --write

chore(gitignore): add vercel and local env files to ignore list
  .gitignore
Due: none

feat(contact): implement serverless contact API with Vercel and Resend
  .env.example
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/sync-vercel-env.sh
  src/env.d.ts
  src/hooks/useContactForm.ts
  src/pages/api/contact.ts
  vercel.json
Due: biome check --write

refactor(footer): redesign footer layout with photo and improved structure
  src/assets/images/photo-footer.png
  src/components/layout/Footer.astro
  src/components/ui/dividers/DiagonalDivider.astro
Due: biome check --write

feat(ui): add icon components for categories, languages and services
  src/components/ui/CategoryIcon.astro
  src/components/ui/CategoryIcon.tsx
  src/components/ui/LanguageIcon.astro
  src/components/ui/ServiceIcon.astro
  src/components/ui/ServiceIcon.tsx
Due: biome check --write

feat(content): add collections for snippets, css-tricks and useful-links
  src/content/useful-links/astro-docs.json
  src/content/useful-links/awwwards.json
  src/content/useful-links/bundlephobia.json
  src/content/useful-links/can-i-use.json
  src/content/useful-links/codepen.json
  src/content/useful-links/css-tricks.json
  src/content/useful-links/dev-to.json
  src/content/useful-links/dribbble.json
  src/content/useful-links/figma.json
  src/content/useful-links/framer-motion.json
  src/content/useful-links/github.json
  src/content/useful-links/javascript-info.json
  src/content/useful-links/lucide-icons.json
  src/content/useful-links/mdn-web-docs.json
  src/content/useful-links/pagespeed-insights.json
  src/content/useful-links/react-docs.json
  src/content/useful-links/regex101.json
  src/content/useful-links/shadcn-ui.json
  src/content/useful-links/smashing-magazine.json
  src/content/useful-links/squoosh.json
  src/content/useful-links/stack-overflow.json
  src/content/useful-links/tailwind-docs.json
  src/content/useful-links/tanstack-query.json
  src/content/useful-links/typescript-docs.json
  src/content/useful-links/web-dev.json
  src/content/useful-links/zod.json
Due: none

feat(goodies): implement goodies pages with categorized sections and filtering
  src/components/cards/ToolCard.astro
  src/pages/[lang]/goodies.astro
  src/pages/[lang]/goodies/css-tricks/[slug].astro
  src/pages/[lang]/goodies/css-tricks/index.astro
  src/pages/[lang]/goodies/snippets/[slug].astro
  src/pages/[lang]/goodies/snippets/index.astro
  src/pages/[lang]/goodies/tools/index.astro
  src/pages/[lang]/goodies/useful-links/index.astro
Due: biome check --write

feat(nav): add goodies dropdown with categorized navigation menu
  src/components/interactive/GoodiesDropdown.tsx
  src/components/layout/Navigation.astro
Due: biome check --write

refactor(services): update services section with icon components
  src/components/interactive/NavDropdown.tsx
  src/components/interactive/ServicesDropdown.tsx
  src/components/sections/ServicesSection.astro
  src/data/services.ts
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/index.astro
Due: biome check --write

feat(i18n): add translations for goodies, tools and snippets sections
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

feat(contact): add interest pre-selection from service pages
  src/components/forms/Contact.tsx
  src/data/index.ts
  src/data/interests.ts
  src/hooks/useContactForm.ts
  src/locales/en/common.json
  src/locales/en/services.json
  src/locales/es/common.json
  src/locales/es/services.json
  src/pages/[lang]/index.astro
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/index.astro
Due: biome check --write

refactor(ui): improve navigation and component structure
  src/components/layout/Navigation.astro
  src/components/sections/HeroSection.astro
  src/components/ui/CategoryIcon.astro
  src/components/ui/LanguageIcon.astro
  src/components/ui/PixelCanvas.astro
  src/components/ui/ScrollIndicator.astro
  src/components/ui/ServiceIcon.astro
  src/components/ui/SocialLinks.astro
  src/components/ui/dividers/WaveDivider.astro
  src/layouts/BaseLayout.astro
  src/pages/[lang]/goodies/useful-links/index.astro
Due: biome check --write

fix(tools): support View Transitions for category filtering
  src/pages/[lang]/goodies/tools/index.astro
Due: biome check --write

del(tools): remove internal tools and related components
  src/components/interactive/ToolsDropdown.tsx
  src/components/tools/ToolIframe.astro
  src/content/tools/animation-creator.mdx
  src/content/tools/color-palette-generator.mdx
  src/content/tools/gradient-generator.mdx
  src/pages/[lang]/goodies/tools/[slug].astro
Due: biome check --write

refactor(tools): update schema for external tools support
  src/content/config.ts
Due: biome check --write

feat(tools): add external tools content
  src/content/tools/animotion-css.mdx
  src/content/tools/gradify-css.mdx
  src/content/tools/zodsmith-builder.mdx
Due: none

refactor(tools): update ToolCard for external links
  src/components/cards/ToolCard.astro
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: any of: *.md
