Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

feat(blog): add markdown support for blog post excerpts
  src/components/cards/BlogPostCard.tsx
  src/components/sections/BlogSection.astro
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/blog/[slug].astro
Due: biome check --write

fix(og-image): remove unsupported z-index from Satori template
  src/utils/og-image/generate.ts
Due: biome check --write

refactor: remove unused imports and variables
  src/components/layout/Navigation.astro
  src/components/sections/FAQsSection.astro
  src/components/ui/TrustBadgesMarquee.astro
  src/layouts/BaseLayout.astro
  src/pages/[lang]/index.astro
Due: biome check --write

fix(icons): replace deprecated Youtube with Play icon
  src/components/ui/CategoryIcon.tsx
Due: biome check --write

fix(types): add Window interface for custom global properties
  src/components/seo/JsonLd.astro
  src/components/transitions/ViewTransitionGSAP.astro
  src/types/auto-animate.d.ts
Due: biome check --write

docs(share): add comment explaining deprecated execCommand usage
  src/utils/share.ts
Due: biome check --write

fix(tests): restore required variables in contact e2e test
  tests/e2e/contact.spec.ts
Due: biome check --write

chore: remove unused astro-subsites integration
  astro.config.mjs
  domains.config.js
  package.json
  pnpm-lock.yaml
Due: biome check --write

docs(changelog): document v1.5.5 changes
  CHANGELOG.md
Due: prettier --write

fix(social-blog-data): write output to both public and dist directories
  integrations/social-blog-data.ts
Due: biome check --write

test(visual): increase screenshot comparison tolerance
  playwright.config.ts
Due: biome check --write

refactor(fonts): use self-hosted fonts instead of @fontsource imports
  src/styles/fonts.css
Due: none

feat(csp): add giscus.app to Content-Security-Policy
  vercel.json
Due: none

refactor(fonts): remove font-preloader integration, use static self-hosted fonts
  .gitignore
  astro.config.mjs
  docs/PERFORMANCE.md
  integrations/astro-font-preloader/README.md
  integrations/astro-font-preloader/USAGE_EXAMPLE.md
  integrations/astro-font-preloader/font-detector.ts
  integrations/astro-font-preloader/index.ts
  package.json
  pnpm-lock.yaml
  public/fonts/inter-latin-400-normal.woff2
  public/fonts/inter-latin-500-normal.woff2
  public/fonts/inter-latin-600-normal.woff2
  public/fonts/inter-latin-700-normal.woff2
  public/fonts/inter-latin-900-normal.woff2
  public/fonts/jetbrains-mono-latin-400-normal.woff2
  public/fonts/jetbrains-mono-latin-500-normal.woff2
  public/fonts/jetbrains-mono-latin-600-normal.woff2
  public/fonts/jetbrains-mono-latin-700-normal.woff2
Due: biome check --write, prettier --write

fix(hydration): use client:only for TypeItText to prevent React error #418
  src/components/sections/HeroSection.astro
Due: biome check --write

feat(social): resolve blog images to full URLs in social JSON
  integrations/social-blog-data.ts
Due: biome check --write

perf(lightbox): replace with lite version and optimize hydration
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/sections/AboutSection.astro
  src/components/sections/BlogSection.astro
  src/components/sections/ProjectsFeaturedSection.astro
  src/components/ui/Lightbox.tsx
Due: biome check --write

perf(pagespeed): optimize hydration, accessibility and animations
  astro.config.mjs
  src/components/cards/ProjectCard.tsx
  src/components/layout/Navigation.astro
  src/components/ui/ServicePreviewCard.astro
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: biome check --write

fix(hydration): revert LanguageSelector to client:load
  src/components/layout/Navigation.astro
Due: biome check --write

fix(hydration): eliminate React #418 errors with optimized client directives
  src/components/interactive/LanguageSelector.tsx
  src/components/interactive/RadarChart.tsx
  src/components/interactive/SkillsRadarGrid.astro
  src/components/interactive/ThemeToggle.tsx
  src/components/layout/Navigation.astro
Due: biome check --write

refactor(timeline): simplify timeline by removing redundant entries
  src/data/timeline.ts
  src/icons/timeline/academic-cap.svg
  src/icons/timeline/computer-desktop.svg
  src/icons/timeline/globe-alt.svg
  tests/unit/components/ui/TimelineIcon.test.tsx
Due: biome check --write

refactor(services): move comparison data to services.ts
  src/components/sections/ComparisonSection.astro
  src/data/services.ts
  src/locales/en/services.json
  src/locales/es/services.json
  src/pages/[lang]/services/index.astro
Due: biome check --write

refactor(stats): simplify StatsCounter and remove unused stats
  src/components/ui/StatsCounter.tsx
  src/data/stats.ts
Due: biome check --write

refactor(about): remove unused stats translations
  src/components/sections/AboutSection.astro
  src/icons/timeline/brain.svg
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write

fix(vercel): restore standard build command
  vercel.json
Due: none

refactor(lighthouse): make metrics manual with dynamic report URL
  scripts/fetch-lighthouse-metrics.js
  src/components/layout/Footer.astro
  src/components/ui/PerformanceBadge.astro
  src/data/lighthouse-metrics.json
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write

chore: add pnpm lockfile for reproducible builds
  pnpm-lock.yaml
Due: none

ci: migrate from npm to pnpm
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
Due: none

chore(biome): update schema version to 2.3.8
  biome.json
Due: none

fix(tests): replace any with proper type definitions
  tests/visual/pages.spec.ts
Due: biome check --write

style: fix formatting in astro config and fonts css
  astro.config.mjs
  src/styles/fonts.css
Due: none

feat(analytics): migrate from Vercel Analytics to Umami
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
Due: biome check --write

fix(security): add Umami domain to CSP headers
  vercel.json
Due: none

feat(content): add Joan Massana testimonial and renumber existing
  src/content/testimonials/07-joan-massana-pulido.md
  src/content/testimonials/08-jesus-de-lucas.md
Due: prettier --write

feat(ui): improve mobile navigation UX
  src/components/interactive/LanguageSelector.tsx
  src/components/layout/Navigation.astro
Due: biome check --write

docs: add v1.5.6 changelog entry
  CHANGELOG.md
Due: prettier --write

feat(i18n): add automatic language detection and redirection
  astro.config.mjs
  src/components/interactive/LanguageSelector.tsx
  src/middleware.ts
  src/pages/index.astro
  vercel.json
Due: biome check --write

fix(ui): improve mobile navigation menu positioning
  src/components/layout/Navigation.astro
Due: biome check --write

fix(css): prevent horizontal scroll with overflow-x hidden on body
  src/styles/global.css
Due: none

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: any of: *.md
