Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,astro}": ["biome check --write"],
    "*.md": ["prettier --write"]
}

refactor: update interactive components
  src/components/interactive/RadarChart.tsx
  src/components/sections/SkillsSection.astro
Due: biome check --write

perf(redirect): optimize root redirect with Vercel CDN and improved fallback
  src/pages/index.astro
  vercel.json
Due: biome check --write

style(skills): increase font sizes for mobile in radar charts
  src/components/interactive/RadarChart.tsx
Due: biome check --write

feat(services): extend Service interface with metadata and routing
  src/data/services.ts
Due: biome check --write

feat(i18n): add comprehensive services translations
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

feat(pages): create services overview page
  src/pages/[lang]/services/index.astro
Due: biome check --write

feat(nav): update services link to dedicated page
  src/components/layout/Navigation.astro
Due: biome check --write

refactor(home): remove services section from homepage
  src/pages/[lang]/index.astro
Due: biome check --write

feat(components): add generic NavDropdown and ServicesDropdown components
  src/components/interactive/NavDropdown.tsx
  src/components/interactive/ServicesDropdown.tsx
Due: biome check --write

feat(navigation): integrate services dropdown and cleanup markdown
  src/components/layout/Navigation.astro
Due: biome check --write

feat(i18n): add missing translation keys for services pages
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

feat(pages): add individual service pages with complete layouts
  src/pages/[lang]/services/automation-integration.astro
  src/pages/[lang]/services/landing-pages.astro
  src/pages/[lang]/services/social-media-design.astro
  src/pages/[lang]/services/web-apps.astro
Due: biome check --write

feat(search): add services to search index
  src/components/BuildSearchIndex.astro
  src/data/searchIndex.ts
  src/types/search.ts
Due: biome check --write

refactor(radar-chart): improve mobile typography and spacing
  src/components/interactive/RadarChart.tsx
Due: biome check --write

build(colors): regenerate color interpolations
  src/styles/generated-colors.css
Due: none

fix(nav-dropdown): correct useRef type annotation
  src/components/interactive/NavDropdown.tsx
Due: biome check --write

chore(deps): update astro to 5.15.9 - fixes 7 critical CVEs
  package.json
  pnpm-lock.yaml
Due: none

feat(security): implement comprehensive security headers
  vercel.json
Due: none

perf(fonts): remove 15 unused font families - reduces bundle by 17MB
  package.json
  pnpm-lock.yaml
  src/styles/fonts.css
Due: none

fix(navigation): correct mobile scroll behavior to show/hide navbar appropriately
  src/components/layout/Navigation.astro
Due: biome check --write

feat(a11y): add skip to main content link (WCAG 2.4.1)
  src/layouts/BaseLayout.astro
  src/locales/en/common.json
  src/locales/es/common.json
  src/styles/global.css
Due: biome check --write

feat(a11y): improve alt text for images (WCAG 1.1.1)
  src/components/cards/ProjectCard.tsx
  src/components/sections/ProjectsSection.astro
  src/components/sections/TestimonialsSection.astro
Due: biome check --write

feat(a11y): implement complete ARIA pattern for dropdown menus (WCAG 4.1.2)
  src/components/interactive/NavDropdown.tsx
Due: biome check --write

feat(testing): setup testing infrastructure with Playwright and Vitest
  package-lock.json
  package.json
  playwright.config.ts
  src/components/ui/Button.test.tsx
  tests/e2e/accessibility.spec.ts
  tests/e2e/homepage.spec.ts
  vitest.config.ts
Due: biome check --write

feat(security): add Strict-Transport-Security header (HSTS)
  vercel.json
Due: none

perf(fonts): remove unused font-weight 800 to reduce bundle size
  src/styles/fonts.css
Due: none

fix(ui): make mobile navbar visible on page load
  src/components/layout/Navigation.astro
Due: biome check --write

feat(dx): implement path aliases for cleaner imports
  astro.config.mjs
  src/components/BuildSearchIndex.astro
  src/components/cards/index.ts
  src/components/index.ts
  src/components/interactive/SkillsGrid.astro
  src/components/interactive/TimelineDesktop.tsx
  src/components/interactive/TimelineMobile.tsx
  src/components/sections/AboutSection.astro
  src/components/sections/HeroSection.astro
  src/components/tools/ToolIframe.astro
  src/components/ui/social/SocialLink.astro
  src/data/searchIndex.ts
  src/hooks/useContentSearch.ts
  src/hooks/useScrollAnimation.ts
  src/hooks/useStaggerAnimation.ts
  src/i18n/ui.ts
  src/layouts/BaseLayout.astro
  src/utils/searchIndex.ts
Due: biome check --write

perf(images): implement Astro Image with Sharp optimization
  astro.config.mjs
  package-lock.json
  package.json
  src/assets/images/photo1.png
  src/assets/images/photo2.png
  src/components/ui/HeroAvatar.astro
Due: biome check --write

perf(radar-chart): refactor with utils and memoization
  src/components/interactive/RadarChart.tsx
  src/utils/radarChart/calculations.ts
  src/utils/radarChart/positioning.ts
Due: biome check --write

refactor(timeline): unify mobile/desktop into responsive component
  src/components/interactive/Timeline.tsx
  src/components/interactive/TimelineDesktop.tsx
  src/components/interactive/TimelineMobile.tsx
  src/components/interactive/index.ts
  src/styles/timeline-mobile.css
Due: biome check --write

feat(ux): add View Transitions for smooth page navigation
  src/layouts/BaseLayout.astro
Due: biome check --write

perf(animations): implement lazy loading for GSAP library
  src/components/animations/SmoothScroll.tsx
  src/components/interactive/ScrollAnimatedSection.tsx
  src/components/ui/RotatingRoles.astro
  src/hooks/useScrollAnimation.ts
  src/hooks/useStaggerAnimation.ts
  src/lib/gsap.ts
Due: biome check --write

refactor(services): convert static pages to dynamic route
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/automation-integration.astro
  src/pages/[lang]/services/landing-pages.astro
  src/pages/[lang]/services/social-media-design.astro
  src/pages/[lang]/services/web-apps.astro
Due: biome check --write

test(ci): add bundle size budget validation script
  package.json
  scripts/check-budgets.sh
Due: none

test(unit): add comprehensive unit tests for UI components (F4-T01)
  tests/unit/components/forms/FormField.test.tsx
  tests/unit/components/interactive/ThemeToggle.test.tsx
  tests/unit/components/ui/Card.test.tsx
  tests/unit/components/ui/TimelineIcon.test.tsx
  tests/unit/components/ui/TranslatedText.test.tsx
  tests/unit/components/ui/TypeItText.test.tsx
  vitest.config.ts
Due: biome check --write

test(e2e): add comprehensive E2E tests for user flows (F4-T03)
  tests/e2e/command-palette.spec.ts
  tests/e2e/contact.spec.ts
  tests/e2e/services.spec.ts
Due: biome check --write

test(visual): implement comprehensive visual regression testing (F4-T07)
  package.json
  playwright.config.ts
  tests/visual/.gitignore
  tests/visual/README.md
  tests/visual/pages.spec.ts
Due: biome check --write, prettier --write

refactor(i18n): modularize translations into feature-based files (F3-T02)
  src/i18n/ui.ts
  src/locales/en/common.json
  src/locales/en/projects.json
  src/locales/en/services.json
  src/locales/en/skills.json
  src/locales/es/common.json
  src/locales/es/projects.json
  src/locales/es/services.json
  src/locales/es/skills.json
Due: biome check --write
