Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,astro}": ["biome check --write"],
    "*.md": ["prettier --write"]
}

style(hero): improve light mode visibility for social icons and trust badges
  src/components/ui/TrustBadges.astro
  src/components/ui/social/SocialLink.astro
Due: biome check --write

style(buttons): improve ghost button visibility in light mode
  src/components/ui/ResumeDownloadDropdown.astro
  src/components/ui/UnifiedButton.astro
Due: biome check --write

style(timeline): improve controls and indicators contrast in light mode
  src/components/interactive/TimelineContent.tsx
Due: biome check --write

style(skills): improve radar chart card visibility in light mode
  src/components/interactive/SkillsRadarGrid.astro
Due: biome check --write

style(services): improve card and section contrast in light mode
  src/components/sections/ServicesPreviewSection.astro
  src/components/ui/ServicePreviewCard.astro
Due: biome check --write

style(testimonials): improve carousel controls contrast in light mode
  src/components/sections/TestimonialsSection.astro
Due: biome check --write

feat(theming): implement Ocean Depths palette with separate light/dark glow colors
  src/components/ui/HeroAvatar.astro
  src/styles/global.css
  tailwind.config.js
Due: biome check --write

style(typography): enhance section title gradient with higher contrast
  src/styles/global.css
Due: none

refactor(theming): use CSS variables for theme colors and add giscus CSS generator
  package.json
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
  scripts/generate-giscus-css.js
  src/components/sections/ProcessSection.astro
  src/components/sections/TestimonialsSection.astro
  src/components/ui/UnifiedButton.astro
  src/config/themeColors.ts
  src/layouts/BaseLayout.astro
  src/styles/critical-hero.css
Due: biome check --write

feat(integrations): convert giscus CSS generator to Astro integration
  astro.config.mjs
  integrations/giscus-theme.ts
  package.json
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
Due: biome check --write

refactor(theming): migrate hardcoded colors to CSS variables
  THEMING.md
  src/components/blog/MermaidRenderer.astro
  src/components/blog/ShareButton.tsx
  src/components/cards/BlogPostCard.css
  src/components/forms/SubmitButton.tsx
  src/components/layout/SEO.astro
  src/components/sections/AboutSection.astro
  src/components/sections/BlogSection.astro
  src/components/sections/FAQsSection.astro
  src/components/sections/HeroSection.astro
  src/components/sections/ProjectsFeaturedSection.astro
  src/components/sections/ProjectsSection.astro
  src/components/sections/ServicesPreviewSection.astro
  src/components/sections/SkillsSection.astro
  src/components/sections/TestimonialsSection.astro
  src/components/transitions/ViewTransitionGSAP.astro
  src/components/ui/ResumeDownloadDropdown.astro
  src/data/serviceColors.ts
  src/pages/[lang]/services/index.astro
  src/styles/global.css
Due: biome check --write, prettier --write

feat(theming): add CSS variables for status, difficulty, category and timeline colors
  src/styles/generated-colors.css
  src/styles/global.css
Due: none

refactor(cards): migrate hardcoded colors to CSS variables
  src/components/cards/BlogPostCard.css
  src/components/cards/ProjectCard.tsx
  src/components/cards/ToolCard.astro
Due: biome check --write

refactor(interactive): migrate colors to CSS variables
  src/components/interactive/CommandPaletteInner.tsx
  src/components/interactive/RadarChart.tsx
  src/components/interactive/TimelineWrapper.tsx
Due: biome check --write

refactor(ui): migrate hardcoded colors to CSS variables
  src/components/ui/ResumeDownloadDropdown.astro
  src/pages/[lang]/goodies/css-tricks/[slug].astro
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/index.astro
Due: biome check --write

refactor(seo): use themeColors.ts for meta theme-color and OG images
  src/components/layout/SEO.astro
  src/utils/og-image/generate.ts
Due: biome check --write

docs(theming): update THEMING.md with new CSS variables and components
  THEMING.md
Due: prettier --write

feat(giscus): add CSS variables for giscus comment styling
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
Due: none

refactor(config): update theme config and data files
  src/config/theme.ts
  src/data/colors.ts
  src/data/serviceColors.ts
  src/data/timeline.ts
Due: biome check --write

refactor(blog): update blog components styling
  src/components/blog/Callout.astro
  src/components/cards/BlogPostCard.tsx
Due: biome check --write

refactor(sections): update section components styling
  src/components/sections/ComparisonSection.astro
  src/components/sections/FreelancerVsAgencySection.astro
  src/components/sections/ProcessSection.astro
  src/components/sections/ServicesPreviewSection.astro
  src/components/sections/TestimonialsSection.astro
Due: biome check --write

refactor(ui): update UI components styling
  src/components/ui/AnimatedGradientBackground.astro
  src/components/ui/Badge.astro
  src/components/ui/GetInTouchLink.astro
  src/components/ui/PerformanceBadge.astro
  src/components/ui/ServicePreviewCard.astro
  src/components/ui/StatsCounter.tsx
  src/components/ui/TechnologyFilter.tsx
  src/components/ui/UnifiedButton.astro
  src/components/ui/social/SocialLink.astro
Due: biome check --write

refactor(interactive): update interactive components
  src/components/interactive/ScrollAnimatedSection.tsx
  src/components/interactive/SkillsGrid.astro
  src/components/interactive/SkillsRadarGrid.astro
  src/components/interactive/index.ts
Due: biome check --write

refactor(layout): update Footer component styling
  src/components/layout/Footer.astro
Due: biome check --write

refactor(pages): update home and projects page styling
  src/pages/[lang]/index.astro
  src/pages/[lang]/projects/index.astro
Due: biome check --write

chore(i18n): update project translations
  src/locales/en/projects.json
  src/locales/es/projects.json
Due: none

chore(content): update testimonials
  src/content/testimonials/08-ramiro-rela.md
  src/content/testimonials/09-jesus-de-lucas.md
Due: prettier --write

feat(theme): add centralized theme configuration system
  astro.config.mjs
  integrations/theme-generator.ts
  scripts/generate-theme-css.ts
  src/config/themeConfig.ts
  src/styles/generated-theme.css
Due: biome check --write

refactor(giscus): centralize giscus theme to themeConfig
  integrations/giscus-theme.ts
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
  scripts/generate-giscus-css.ts
Due: biome check --write

refactor(config): rename themeColors to colorHelpers
  src/components/layout/SEO.astro
  src/config/colorHelpers.ts
  src/config/themeColors.ts
  src/utils/og-image/generate.ts
Due: biome check --write

refactor(styles): clean up CSS and remove unused files
  src/layouts/BaseLayout.astro
  src/styles/critical-hero.css
  src/styles/global.css
Due: biome check --write

refactor(data): rename colors to sectionBackgrounds for clarity
  astro.config.mjs
  integrations/color-interpolation.ts
  src/data/index.ts
  src/data/sectionBackgrounds.ts
  src/layouts/BaseLayout.astro
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/goodies.astro
  src/pages/[lang]/goodies/css-tricks/[slug].astro
  src/pages/[lang]/goodies/css-tricks/index.astro
  src/pages/[lang]/goodies/snippets/[...slug].astro
  src/pages/[lang]/goodies/snippets/index.astro
  src/pages/[lang]/goodies/tools/index.astro
  src/pages/[lang]/goodies/useful-links/index.astro
  src/styles/generated-section-backgrounds.css
Due: biome check --write

feat(theme): generate Tailwind color scales from themeConfig
  src/config/themeConfig.ts
  tailwind.config.js
Due: biome check --write

refactor(theme): replace legacy color aliases with semantic names
  src/data/serviceColors.ts
  src/styles/global.css
  tailwind.config.js
Due: biome check --write

docs(theme): consolidate theming documentation
  .claude/docs/guides/theming-guide.md
  THEMING.md
  docs/COLOR-SYSTEM.md
  docs/THEMING.md
Due: prettier --write

feat(theme): implement Deep Ocean color palette
  src/config/themeConfig.ts
  src/styles/generated-theme.css
Due: biome check --write

style(theme): update dark mode section title gradient
  src/styles/global.css
Due: none

style(theme): update CV button to teal color
  src/styles/global.css
Due: none

fix(ui): prevent dropdown overlay from showing button color
  src/components/ui/ResumeDownloadDropdown.astro
Due: biome check --write

style(ui): increase SectionTitle font sizes
  src/components/ui/SectionTitle.astro
  src/styles/global.css
Due: biome check --write
