Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,astro}": ["biome check --write"],
    "*.md": ["prettier --write"]
}

fix: update component props and add carousel translations
  src/components/sections/HeroSection.astro
  src/components/sections/TestimonialsSection.astro
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
Due: biome check --write

test(cards): add unit tests for BlogPostCard and ProjectCard
  tests/unit/components/cards/BlogPostCard.test.tsx
  tests/unit/components/cards/ProjectCard.test.tsx
Due: biome check --write

test(interactive): add unit tests for interactive components
  tests/unit/components/interactive/CommandPalette.test.tsx
  tests/unit/components/interactive/ScrollToTop.test.tsx
  tests/unit/components/interactive/TimelineCard.test.tsx
  tests/unit/components/interactive/TimelineContent.test.tsx
  tests/unit/components/interactive/TimelineWrapper.test.tsx
  tests/unit/components/interactive/hooks/useTimelineAnimation.test.ts
Due: biome check --write

test(ui): add unit tests for ImageCarousel and Lightbox
  tests/unit/components/ui/ImageCarousel.test.tsx
  tests/unit/components/ui/Lightbox.test.tsx
Due: biome check --write

test(hooks): add unit tests for useTheme and useUrlSync
  tests/unit/hooks/useTheme.test.ts
  tests/unit/hooks/useUrlSync.test.ts
Due: biome check --write

test(blog): add unit tests for blog utility functions
  tests/unit/utils/blog/getAdjacentPosts.test.ts
  tests/unit/utils/blog/getEffectiveSlug.test.ts
  tests/unit/utils/blog/getRelatedPosts.test.ts
  tests/unit/utils/blog/getSeriesPosts.test.ts
Due: biome check --write

test(radarChart): add unit tests for radar chart utilities
  tests/unit/utils/radarChart/calculations.test.ts
  tests/unit/utils/radarChart/positioning.test.ts
Due: biome check --write

fix(test): update TimelineWrapper test to use title-based testids
  tests/unit/components/interactive/TimelineWrapper.test.tsx
Due: biome check --write

fix(test): update theme and contact form test expectations
  tests/unit/config/theme.test.ts
  tests/unit/hooks/useContactForm.test.ts
Due: biome check --write

fix(lint): resolve all Biome lint and format errors
  astro.config.mjs
  integrations/color-interpolation.ts
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
  scripts/generate-giscus-css.ts
  src/components/cards/BlogPostCard.css
  src/components/cards/FeaturedBlogCard.css
  src/components/ui/ImageCarousel.tsx
  src/config/themeConfig.ts
  src/styles/generated-section-backgrounds.css
  tests/unit/components/cards/BlogPostCard.test.tsx
  tests/unit/components/cards/ProjectCard.test.tsx
  tests/unit/utils/radarChart/calculations.test.ts
Due: biome check --write

feat(layout): add developer console greeting and remove unused image preload
  src/components/ConsoleGreeting.astro
  src/layouts/BaseLayout.astro
  src/pages/[lang]/index.astro
Due: biome check --write

fix(projects): update metrics with real data across all projects
  src/content/projects/animotion-css-en.md
  src/content/projects/animotion-css-es.md
  src/content/projects/bookmind-en.md
  src/content/projects/bookmind-es.md
  src/content/projects/cheroga-automation-en.md
  src/content/projects/cheroga-automation-es.md
  src/content/projects/cheroga-casa-quinta-en.md
  src/content/projects/cheroga-casa-quinta-es.md
  src/content/projects/gemfolio-en.md
  src/content/projects/gemfolio-es.md
  src/content/projects/gradify-css-en.md
  src/content/projects/gradify-css-es.md
  src/content/projects/hospeda-en.md
  src/content/projects/hospeda-es.md
  src/content/projects/qazuor-portfolio-en.md
  src/content/projects/qazuor-portfolio-es.md
  src/content/projects/react-custom-hooks-en.md
  src/content/projects/react-custom-hooks-es.md
  src/content/projects/react-form-toolkit-en.md
  src/content/projects/react-form-toolkit-es.md
  src/content/projects/zodsmith-builder-en.md
  src/content/projects/zodsmith-builder-es.md
Due: prettier --write

feat(projects): add Asist.IA AI agent platform project
  src/content/projects/_images/asistia/placeholder.jpg
  src/content/projects/asistia-en.md
  src/content/projects/asistia-es.md
Due: prettier --write

feat(projects): add Claude Code Config with screenshots
  src/content/projects/_images/claudeCodeConfig/1.png
  src/content/projects/_images/claudeCodeConfig/10.png
  src/content/projects/_images/claudeCodeConfig/2.png
  src/content/projects/_images/claudeCodeConfig/3.png
  src/content/projects/_images/claudeCodeConfig/4.png
  src/content/projects/_images/claudeCodeConfig/5.png
  src/content/projects/_images/claudeCodeConfig/6.png
  src/content/projects/_images/claudeCodeConfig/7.png
  src/content/projects/_images/claudeCodeConfig/8.png
  src/content/projects/_images/claudeCodeConfig/9.png
  src/content/projects/claude-code-config-en.md
  src/content/projects/claude-code-config-es.md
Due: prettier --write

fix(data): update Lighthouse metrics with real PageSpeed data
  src/data/lighthouse-metrics.json
Due: none

fix(lightbox): reset state on View Transitions navigation
  src/components/ui/Lightbox.tsx
Due: biome check --write

feat(i18n): add translations for new projects
  src/locales/en/projects.json
  src/locales/es/projects.json
Due: none

feat(icons): add npm social icon
  src/icons/social/npm.svg
Due: none

style(giscus): update custom theme styles
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
Due: none

fix(content): update content collection config
  src/content/config.ts
Due: biome check --write

feat(projects): add npm link support in project detail page
  src/pages/[lang]/projects/[slug].astro
Due: biome check --write

chore: update search index and minor layout improvements
  src/components/blog/CalloutEnhancer.astro
  src/layouts/BaseLayout.astro
Due: biome check --write

feat(blog): add welcome post - who am I and what this blog is about
  src/content/blog/bienvenido-a-mi-blog-quien-soy-y-de-que-va-esto.md
Due: prettier --write

feat(blog): add freelance vs agency comparison post
  src/content/blog/freelancer-vs-agencia-cuando-tiene-sentido-cada-opcion.md
Due: prettier --write

feat(blog): add portfolio technical deep-dive post
  src/content/blog/construyendo-mi-portfolio-desde-cero-decisiones-tecnicas-y-lecciones-aprendidas.md
Due: prettier --write

feat(blog): add AI workflow post - Claude Code and ChatGPT part 1
  src/content/blog/como-uso-claude-code-y-chatgpt-para-acelerar-mi-trabajo-sin-perder-control-del-codigo.md
Due: prettier --write

feat(blog): add AI workflow post - practical checklist part 2
  src/content/blog/como-uso-claudechatgpt-en-mi-dia-a-dia-sin-que-escriban-codigo-basura.md
Due: prettier --write

feat(blog): add Turborepo monorepo strategy post
  src/content/blog/mi-estrategia-de-monorepo-con-turborepo-como-organizo-apps-y-packages.md
Due: prettier --write

feat(blog): add i18n utilities with language fallback
  src/utils/blog/getBlogPostWithFallback.ts
  src/utils/blog/getEffectiveSlug.ts
  src/utils/blog/index.ts
  tests/unit/utils/blog/getBlogPostWithFallback.test.ts
  tests/unit/utils/blog/getEffectiveSlug.test.ts
Due: biome check --write

feat(blog): add lang field to blog content schema
  src/content/config.ts
Due: biome check --write

feat(blog): update pages to use i18n fallback system
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/blog/[slug]/og.png.ts
  src/pages/[lang]/index.astro
Due: biome check --write

refactor(blog): rename posts to short slug format with lang suffix
  src/content/blog/bienvenido-es.md
  src/content/blog/claude-code-chatgpt-productividad-es.md
  src/content/blog/construyendo-portfolio-decisiones-tecnicas-es.md
  src/content/blog/dev-freelance-vs-agencia-es.md
  src/content/blog/ia-codigo-calidad-es.md
  src/content/blog/turborepo-monorepo-estrategia-es.md
Due: prettier --write

feat(blog): add English translations for 6 blog posts
  src/content/blog/bienvenido-en.md
  src/content/blog/claude-code-chatgpt-productividad-en.md
  src/content/blog/construyendo-portfolio-decisiones-tecnicas-en.md
  src/content/blog/dev-freelance-vs-agencia-en.md
  src/content/blog/ia-codigo-calidad-en.md
  src/content/blog/turborepo-monorepo-estrategia-en.md
Due: prettier --write

style(blog): improve category badge colors for better distinction
  src/data/categoryColors.ts
Due: biome check --write

style(blog): adjust Performance color and reduce card title size
  src/data/categoryColors.ts
  src/pages/[lang]/blog/[...page].astro
Due: biome check --write

feat(blog): add centralized blog categories with translations
  src/data/blogCategories.ts
Due: biome check --write

refactor(blog): update categoryColors to use category keys
  src/data/categoryColors.ts
Due: biome check --write

refactor(blog): update content schema with category enum
  src/content/config.ts
Due: biome check --write

refactor(blog): update existing posts to use category keys
  src/content/blog/bienvenido-en.md
  src/content/blog/bienvenido-es.md
  src/content/blog/claude-code-chatgpt-productividad-en.md
  src/content/blog/claude-code-chatgpt-productividad-es.md
  src/content/blog/construyendo-portfolio-decisiones-tecnicas-en.md
  src/content/blog/construyendo-portfolio-decisiones-tecnicas-es.md
  src/content/blog/dev-freelance-vs-agencia-en.md
  src/content/blog/dev-freelance-vs-agencia-es.md
  src/content/blog/ia-codigo-calidad-en.md
  src/content/blog/ia-codigo-calidad-es.md
  src/content/blog/turborepo-monorepo-estrategia-en.md
  src/content/blog/turborepo-monorepo-estrategia-es.md
Due: prettier --write

feat(blog): add translated categories to home and detail pages
  src/components/sections/BlogSection.astro
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/index.astro
Due: biome check --write
