Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

feat(services): add WordPress service with contact form integration
  CHANGELOG.md
  src/components/forms/Contact.tsx
  src/components/interactive/ServicesDropdown.tsx
  src/components/layout/Navigation.astro
  src/components/sections/ServicesPreviewSection.astro
  src/components/ui/ServiceIcon.astro
  src/components/ui/ServiceIcon.tsx
  src/components/ui/ServicePreviewCard.astro
  src/data/interests.ts
  src/data/services.ts
  src/locales/en/common.json
  src/locales/en/services.json
  src/locales/es/common.json
  src/locales/es/services.json
  src/pages/[lang]/index.astro
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/index.astro
Due: biome check --write, prettier --write

fix(command-palette): normalize icon sizes for social/contact items
  CHANGELOG.md
  src/components/interactive/CommandPaletteInner.tsx
Due: biome check --write, prettier --write

fix(testimonials): add missing LinkedIn profile link to modal
  CHANGELOG.md
  src/components/sections/TestimonialsSection.astro
Due: biome check --write, prettier --write

feat(footer): add PerformanceBadge with Lighthouse metrics and tooltips
  CHANGELOG.md
  scripts/fetch-lighthouse-metrics.js
  src/components/layout/Footer.astro
  src/components/ui/PerformanceBadge.astro
  src/data/lighthouse-metrics.json
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write, prettier --write

feat(testimonials): add Juan Pablo Converso testimonial
  src/content/testimonials/jesus-de-lucas.md
  src/content/testimonials/jose-canciani.md
  src/content/testimonials/juan-pablo-converso.md
Due: prettier --write

chore(build): add Lighthouse metrics fetch to Vercel build
  package.json
  vercel.json
Due: none

chore: remove obsolete REFACTORING-SUMMARY.md
  REFACTORING-SUMMARY.md
Due: prettier --write

fix(footer): update tooltip positions and mobile photo placement
  src/components/layout/Footer.astro
  src/components/ui/PerformanceBadge.astro
Due: biome check --write

refactor(contact): move section description to ContactInfo component
  src/components/forms/Contact.tsx
  src/components/forms/ContactInfo.tsx
Due: biome check --write

style(contact): reduce interest selector button size
  src/components/forms/InterestSelector.tsx
Due: biome check --write

docs(content): replace em-dashes with regular dashes
  src/content/blog/bienvenido-a-mi-blog-quien-soy-y-de-que-va-esto.md
  src/content/testimonials/juan-pablo-converso.md
Due: prettier --write

fix(i18n): replace em-dashes with standard punctuation
  src/locales/en/common.json
  src/locales/en/skills.json
  src/locales/es/common.json
Due: none

feat(hero): improve responsive layout and add trust badges marquee
  CHANGELOG.md
  src/components/sections/HeroSection.astro
  src/components/ui/HeroAvatar.astro
  src/components/ui/RotatingRoles.astro
  src/components/ui/TrustBadgesMarquee.astro
  src/data/trustBadges.ts
  src/icons/ui/briefcase.svg
  src/icons/ui/check.svg
  src/icons/ui/code.svg
  src/icons/ui/layout.svg
  src/icons/ui/message.svg
  src/icons/ui/smartphone.svg
  src/icons/ui/sparkles.svg
  src/locales/en/common.json
  src/locales/es/common.json
  src/styles/global.css
Due: biome check --write, prettier --write

refactor(testimonials): use filename prefix for ordering instead of frontmatter field
  src/content/config.ts
  src/content/testimonials/01-jorge-luis-capoduri.md
  src/content/testimonials/02-lucas-hernan-mayoni.md
  src/content/testimonials/03-juan-pablo-converso.md
  src/content/testimonials/04-jose-canciani.md
  src/content/testimonials/05-jesus-de-lucas.md
  src/pages/[lang]/index.astro
Due: biome check --write, prettier --write

refactor(about): remove Quick Profile and add specialty trust badge
  src/components/sections/AboutSection.astro
  src/components/ui/AboutSummaryCard.astro
  src/data/trustBadges.ts
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write

fix(mobile): prevent TOC and ScrollToTop buttons overlap
  src/components/blog/TableOfContents.tsx
  src/components/interactive/ScrollToTop.tsx
Due: biome check --write

feat(command-palette): update navigation items and add goodies section
  src/data/commandPalette.ts
Due: biome check --write

fix(mobile): use solid background for TOC drawer
  src/components/blog/TableOfContents.tsx
Due: biome check --write

fix(i18n): remove unused summaryCard translation code
  src/pages/[lang]/index.astro
Due: biome check --write

feat(css-tricks): add CSSPlayground component with optional controls
  src/components/interactive/CSSPlayground.tsx
  src/content/css-tricks/avoid-universal-selector-reset.mdx
  src/content/css-tricks/border-radius-vs-clip-path-circle.mdx
  src/content/css-tricks/clamp-fluid-typography.mdx
  src/content/css-tricks/conic-gradient-sweep.mdx
  src/content/css-tricks/container-queries.mdx
  src/content/css-tricks/content-alt-text.mdx
  src/content/css-tricks/corner-shape-property.mdx
  src/content/css-tricks/css-columns-layout.mdx
  src/content/css-tricks/css-counters-step-display.mdx
  src/content/css-tricks/css-masks.mdx
  src/content/css-tricks/css-only-tooltips.mdx
  src/content/css-tricks/dynamic-form-labels.mdx
  src/content/css-tricks/flexbox-zigzag-layout.mdx
  src/content/css-tricks/gradient-text.mdx
  src/content/css-tricks/grid-animate-height.mdx
  src/content/css-tricks/line-clamp-truncation.mdx
  src/content/css-tricks/mix-blend-mode-background-removal.mdx
  src/content/css-tricks/offset-path-animation.mdx
  src/content/css-tricks/safe-area-insets.mdx
  src/content/css-tricks/tailwind-child-selectors.mdx
  src/content/css-tricks/webkit-box-reflect.mdx
Due: biome check --write

feat: add CSSPlayground styles and update testimonials
  src/content/testimonials/05-lucia-sarasola.md
  src/content/testimonials/06-pablo-cuadrado.md
  src/content/testimonials/07-jesus-de-lucas.md
  src/pages/[lang]/goodies/css-tricks/[slug].astro
  src/styles/global.css
Due: biome check --write, prettier --write

feat(category-icon): add icons for useful-links categories
  src/components/ui/CategoryIcon.astro
  src/components/ui/CategoryIcon.tsx
Due: biome check --write

refactor(stats): enhance stats counter with context labels
  src/components/ui/StatsCounter.tsx
  src/data/stats.ts
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
Due: biome check --write

docs(testimonials): minor updates to testimonial content
  src/content/testimonials/05-lucia-sarasola.md
  src/content/testimonials/06-pablo-cuadrado.md
  src/content/testimonials/07-jesus-de-lucas.md
Due: prettier --write

docs(blog): update blog post content
  src/content/blog/bienvenido-a-mi-blog-quien-soy-y-de-que-va-esto.md
  src/content/blog/freelancer-vs-agencia-cuando-tiene-sentido-cada-opcion.md
Due: prettier --write

refactor(about): minor adjustments to about section
  src/components/sections/AboutSection.astro
Due: biome check --write

style: minor updates to global styles
  src/styles/global.css
Due: none

chore: update lighthouse metrics data
  src/data/lighthouse-metrics.json
Due: none

docs: update changelog with useful-links restructure
  CHANGELOG.md
Due: prettier --write

feat(analytics): add Vercel Analytics and Speed Insights
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
Due: biome check --write, prettier --write

style(callouts): add code block styling for callout components
  src/styles/global.css
Due: none

feat(blog): add social-blog-data integration for social network publishing
  .gitignore
  CHANGELOG.md
  astro.config.mjs
  integrations/social-blog-data.ts
  package.json
  pnpm-lock.yaml
  src/content/config.ts
  src/data/stats.ts
Due: biome check --write, prettier --write

docs: move COLOR-SYSTEM to docs/ and remove obsolete documentation
  EXAMPLES.md
  GETTING-STARTED.md
  SETUP.md
  docs/COLOR-SYSTEM.md
Due: prettier --write

chore: update dependencies and config files
  .gitignore
  README.md
  astro.config.mjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/update-visual-snapshots.sh
Due: biome check --write, prettier --write

test: reorganize unit tests from src/ to tests/unit/
  src/components/forms/FormField.test.tsx
  src/components/interactive/ThemeToggle.test.tsx
  src/components/ui/Button.test.tsx
  src/components/ui/Card.test.tsx
  src/components/ui/TimelineIcon.test.tsx
  src/components/ui/TranslatedText.test.tsx
  src/components/ui/TypeItText.test.tsx
  tests/unit/components/forms/StatusMessage.test.tsx
  tests/unit/components/ui/TimelineIcon.test.tsx
  tests/unit/config/theme.test.ts
  tests/unit/hooks/useContactForm.test.ts
  tests/unit/hooks/useContentSearch.test.ts
  tests/unit/hooks/useScrollAnimation.test.ts
  tests/unit/hooks/useStaggerAnimation.test.ts
  tests/unit/utils/breadcrumbs.test.ts
  tests/unit/utils/share.test.ts
  tests/unit/utils/url.test.ts
Due: biome check --write

feat(services): redesign service cards and preview section UI
  src/components/sections/ServicesPreviewSection.astro
  src/components/ui/ServiceIcon.astro
  src/components/ui/ServicePreviewCard.astro
  src/data/services.ts
  src/icons/tech/wordpress.svg
  src/locales/en/services.json
  src/locales/es/services.json
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/index.astro
Due: biome check --write

refactor(components): minor improvements to interactive and section components
  src/components/forms/Contact.tsx
  src/components/interactive/CommandPalette.tsx
  src/components/interactive/CommandPaletteInner.tsx
  src/components/interactive/RadarChart.tsx
  src/components/interactive/SkillsRadarGrid.astro
  src/components/sections/ComparisonSection.astro
  src/components/sections/FAQsSection.astro
  src/components/sections/TestimonialsSection.astro
  src/pages/[lang]/index.astro
Due: biome check --write

test(e2e): improve test specs and add new page tests
  tests/e2e/accessibility.spec.ts
  tests/e2e/blog.spec.ts
  tests/e2e/command-palette.spec.ts
  tests/e2e/contact.spec.ts
  tests/e2e/goodies.spec.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/projects.spec.ts
  tests/e2e/services.spec.ts
  tests/visual/pages.spec.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: any of: *.md
