Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

feat(contact): build dedicated contact surface with URL prefill
  src/pages/[lang]/contact/index.astro
Due: biome check --write

docs(spec-001): finalize phase 4 service and recruiter surfaces report
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/phase-4-report.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/tasks.md
Due: prettier --write

feat(seo): add Organization, ProfessionalService, FAQPage JSON-LD components
  src/components/seo/FaqPageJsonLd.astro
  src/components/seo/OrganizationJsonLd.astro
  src/components/seo/ProfessionalServiceJsonLd.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/services/index.astro
  src/types/jsonld.ts
Due: biome check --write

feat(seo): update sitemap with work, hire, about, contact + rewrite llms.txt
  public/llms.txt
  src/pages/sitemap.xml.ts
Due: biome check --write

feat(blog): add related service/work slugs to blog schema + contextual handoff
  src/content/config.ts
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/blog/[slug].astro
Due: biome check --write

fix(seo): make sitemap getUrlMeta locale-agnostic for work/hire/about/contact
  src/pages/sitemap.xml.ts
Due: biome check --write

docs(spec-001): finalize phase 5 SEO AEO and machine-readable assets report
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/phase-5-report.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/tasks.md
Due: prettier --write

docs(spec-001): finalize phase 6 verification report
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/phase-6-report.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/tasks.md
Due: prettier --write

feat: add private WhatsApp sender tool
  public/whatsapp-envio/index.html
Due: none

chore: block WhatsApp sender from crawlers
  public/robots.txt
Due: none

feat: add tabs and flexible message distribution
  public/whatsapp-envio/index.html
Due: none

feat: add contact search sorting and notes
  public/whatsapp-envio/index.html
Due: none

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: any of: *.md
