Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

fix(transitions): resolve TypeScript compilation errors in PageTransition
  src/components/transitions/PageTransition.astro
Due: biome check --write

feat(content): extend projects schema with new fields and demo data
  src/content/config.ts
  src/content/projects/ecommerce-platform.md
  src/content/projects/fitness-tracker.md
  src/content/projects/portfolio-builder.md
  src/content/projects/social-media-analytics.md
  src/content/projects/task-management-app.md
  src/content/projects/weather-dashboard.md
Due: biome check --write, prettier --write

feat(ui): add ImageCarousel and Lightbox components
  src/components/ui/ImageCarousel.tsx
  src/components/ui/Lightbox.tsx
Due: biome check --write

feat(projects): implement complete projects system
  src/components/cards/ProjectCardNew.tsx
  src/components/sections/ProjectGallery.tsx
  src/components/sections/ProjectsFeaturedSection.astro
  src/components/ui/ProjectFilters.tsx
  src/components/ui/ScrollIndicator.astro
  src/data/searchIndex.ts
  src/locales/en/projects.json
  src/locales/es/projects.json
  src/pages/[lang]/index.astro
  src/pages/[lang]/projects/[slug].astro
  src/pages/[lang]/projects/index.astro
Due: biome check --write

fix(projects): resolve navigation issues with projects section
  src/components/layout/Navigation.astro
  src/components/sections/ProjectsFeaturedSection.astro
Due: biome check --write

refactor(projects): implement GSAP ScrollTrigger for stacking cards effect
  src/components/sections/ProjectsFeaturedSection.astro
  src/components/sections/ProjectsFeaturedStack.tsx
Due: biome check --write

fix(projects): resolve ProjectFilters error and enable markdown rendering
  src/components/ui/ProjectFilters.tsx
  src/pages/[lang]/projects/index.astro
Due: biome check --write

feat(projects): add interactive technology filter with animations
  src/components/ui/ActiveFilters.tsx
  src/components/ui/TechnologyFilter.tsx
  src/locales/en/projects.json
  src/locales/es/projects.json
  src/pages/[lang]/projects/index.astro
Due: biome check --write

feat(hero): enhance social icons with theme-aware styling and tooltips
  src/components/sections/HeroSection.astro
  src/components/ui/SocialLinks.astro
  src/components/ui/social/BuyMeACoffeeLink.astro
  src/components/ui/social/SocialLink.astro
  src/data/contact.ts
  src/icons/social/buymeacoffe.svg
  src/icons/social/fiverr.svg
  src/icons/social/github.svg
  src/icons/social/linkedin.svg
  src/icons/social/mail.svg
  src/icons/social/upwork.svg
  src/icons/social/whatsapp.svg
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
Due: biome check --write

feat(projects): enhance filter UI with responsive design and improved UX
  src/components/ui/ActiveFilters.tsx
  src/components/ui/TechnologyFilter.tsx
  src/pages/[lang]/projects/index.astro
Due: biome check --write

refactor(hero): improve mobile and desktop layout responsiveness
  src/components/sections/HeroSection.astro
  src/components/ui/HeroAvatar.astro
  src/components/ui/RotatingRoles.astro
  src/components/ui/ScrollIndicator.astro
Due: biome check --write

feat(projects): enhance project cards with modern design and complete i18n
  src/components/cards/ProjectCardNew.tsx
  src/components/ui/ActiveFilters.tsx
  src/locales/en/projects.json
  src/locales/es/projects.json
  src/pages/[lang]/projects/index.astro
  src/styles/global.css
Due: biome check --write

refactor(projects): rename ProjectCardNew to ProjectCard
  src/components/cards/ProjectCard.tsx
  src/components/cards/ProjectCardNew.tsx
  src/components/sections/ProjectsFeaturedStack.tsx
  src/pages/[lang]/projects/index.astro
Due: biome check --write

chore(typescript): configure tsconfig to exclude generated folders
  tsconfig.json
Due: none

fix(typescript): add explicit types to eliminate implicit any errors
  src/components/layout/Footer.astro
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/projects/[slug].astro
  src/pages/[lang]/projects/index.astro
  src/pages/[lang]/tools.astro
  src/pages/[lang]/tools/[...slug].astro
Due: biome check --write

fix(accessibility): improve keyboard navigation and ARIA labels in image components
  src/components/sections/ProjectGallery.tsx
  src/components/ui/ImageCarousel.tsx
Due: biome check --write

refactor(content): update project image paths to use Content Collections convention
  src/content/projects/ecommerce-platform.md
  src/content/projects/fitness-tracker.md
  src/content/projects/portfolio-builder.md
  src/content/projects/social-media-analytics.md
  src/content/projects/task-management-app.md
  src/content/projects/weather-dashboard.md
Due: prettier --write

style(components): apply auto-formatting to components and layouts
  src/components/cards/ProjectCard.tsx
  src/components/transitions/PageTransition.astro
  src/components/ui/SecondaryTitle.astro
  src/layouts/BaseLayout.astro
Due: biome check --write

style(config): apply auto-formatting to content config and translations
  src/content/config.ts
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write

feat(content): add project images and cleanup unused public photos
  public/photo1.png
  public/photo2.png
  src/content/projects/_images/ecommerce-platform-1.jpg
  src/content/projects/_images/ecommerce-platform-2.jpg
  src/content/projects/_images/ecommerce-platform-3.jpg
  src/content/projects/_images/fitness-tracker-1.jpg
  src/content/projects/_images/fitness-tracker-2.jpg
  src/content/projects/_images/fitness-tracker-3.jpg
  src/content/projects/_images/portfolio-builder-1.jpg
  src/content/projects/_images/portfolio-builder-2.jpg
  src/content/projects/_images/portfolio-builder-3.jpg
  src/content/projects/_images/social-media-analytics-1.jpg
  src/content/projects/_images/social-media-analytics-2.jpg
  src/content/projects/_images/social-media-analytics-3.jpg
  src/content/projects/_images/task-management-app-1.jpg
  src/content/projects/_images/task-management-app-2.jpg
  src/content/projects/_images/task-management-app-3.jpg
  src/content/projects/_images/weather-dashboard-1.jpg
  src/content/projects/_images/weather-dashboard-2.jpg
  src/content/projects/_images/weather-dashboard-3.jpg
Due: none

feat(transitions): migrate to Astro View Transitions API
  src/components/AutoAnimateGlobal.astro
  src/components/interactive/RadarChart.tsx
  src/components/interactive/SkillsRadarGrid.astro
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/sections/ProjectFiltersManager.tsx
  src/components/sections/ProjectsSection.astro
  src/components/transitions/DEPRECATED_PageTransition.astro.backup
  src/components/transitions/ViewTransitionGSAP.astro
  src/components/ui/RotatingRoles.astro
  src/layouts/BaseLayout.astro
  src/pages/[lang]/projects/index.astro
  src/pages/[lang]/tools.astro
  src/pages/[lang]/tools/[...slug].astro
  src/scripts/smoothScroll.js
  src/scripts/typeIt.js
  src/utils/radarChart/calculations.ts
Due: biome check --write

fix(transitions): fix same-page hash navigation in ViewTransitionGSAP
  src/components/transitions/ViewTransitionGSAP.astro
Due: biome check --write

fix(layout): prevent scroll-to-top button double-click issue
  src/components/layout/Footer.astro
Due: biome check --write

fix(i18n): use Astro navigate API for language switching
  src/components/interactive/LanguageSelector.tsx
Due: biome check --write

refactor: implement event delegation for View Transitions compatibility
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/sections/ProjectsSection.astro
Due: biome check --write

fix(projects): preserve DOM elements in filter cache to fix clear filters
  src/components/sections/ProjectFiltersManager.tsx
Due: biome check --write

fix(hero): increase z-index of text content for proper layering
  src/components/sections/HeroSection.astro
Due: biome check --write

fix(timeline): improve mobile styles for better readability
  src/components/interactive/TimelineCard.tsx
Due: biome check --write

fix(navigation): restore smooth scroll compatibility with View Transitions
  src/components/layout/Navigation.astro
  src/components/transitions/ViewTransitionGSAP.astro
Due: biome check --write

feat(blog): implement expandable blog cards with animations
  src/components/cards/BlogPostCard.css
  src/components/cards/BlogPostCard.tsx
  src/components/sections/BlogSection.astro
  src/content/blog/_images/placeholder-1.jpg
  src/content/blog/_images/placeholder-2.jpg
  src/content/blog/_images/placeholder-3.jpg
  src/content/blog/_images/placeholder-default.jpg
  src/content/blog/_images/placeholder-frontend.jpg
  src/content/blog/_images/placeholder-programming.jpg
  src/content/blog/_images/placeholder-webdev.jpg
  src/data/searchIndex.ts
Due: biome check --write

feat(blog): add image and category metadata to blog posts
  src/content/blog/getting-started-with-astro.md
  src/content/blog/mastering-typescript.md
  src/content/blog/react-19-new-features.md
  src/content/config.ts
  tsconfig.json
Due: biome check --write, prettier --write

fix(blog): correct TypeScript errors for deployment
  src/components/cards/BlogPostCard.tsx
  src/components/sections/BlogSection.astro
Due: biome check --write

chore: add astro-console-cleaner plugin for production builds
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix(projects): improve mobile compatibility with fallback for Firefox
  src/components/sections/ProjectsFeaturedStack.tsx
Due: biome check --write

feat(ui): add 2xl size option to SectionTitle component
  src/components/ui/SectionTitle.astro
Due: biome check --write

feat(transitions): enhance overlay with animated SVG waves and SectionTitle
  src/components/transitions/ViewTransitionGSAP.astro
Due: biome check --write

fix(build): disable astroConsoleCleaner to resolve CSS parsing error
  astro.config.mjs
Due: none

chore: remove astro-console-cleaner package completely
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix(blog): use static imports for placeholder images to fix Vercel build
  src/components/sections/BlogSection.astro
Due: biome check --write

feat(performance): configure Vite code splitting for optimized bundles
  astro.config.mjs
Due: none

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: any of: *.md
