Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,astro}": ["biome check --write"],
    "*.md": ["prettier --write"]
}

feat(performance): add compression middleware for development
  astro.config.mjs
  package-lock.json
  package.json
Due: none

feat(performance): configure Vercel caching headers for optimal performance
  vercel.json
Due: none

feat(performance): add preload hints with astro-font-preloader integration
  .gitignore
  astro.config.mjs
  integrations/astro-font-preloader/README.md
  integrations/astro-font-preloader/USAGE_EXAMPLE.md
  integrations/astro-font-preloader/font-detector.ts
  integrations/astro-font-preloader/index.ts
  src/layouts/BaseLayout.astro
Due: biome check --write, prettier --write

revert(i18n): remove lazy loading system - no benefits in Astro SSG
  src/i18n/ui.ts
  src/i18n/utils.ts
Due: biome check --write

feat(performance): implement SVG sprite system with HMR for timeline icons
  astro.config.mjs
  integrations/timeline-sprite-watcher/README.md
  integrations/timeline-sprite-watcher/index.ts
  src/components/sections/AboutSection.astro
  src/components/ui/TimelineIcon.tsx
  src/components/ui/TimelineIconSprite.astro
Due: biome check --write, prettier --write

refactor(performance): improve sprite watcher HMR logging
  integrations/timeline-sprite-watcher/README.md
  integrations/timeline-sprite-watcher/index.ts
Due: biome check --write, prettier --write

feat(performance): implement lazy loading for React island components
  src/components/sections/AboutSection.astro
  src/components/sections/ProjectsFeaturedSection.astro
  src/pages/[lang]/index.astro
Due: biome check --write

feat(performance): add bundle analyzer with rollup-plugin-visualizer
  astro.config.mjs
  package.json
Due: none

perf(css): optimize critical CSS loading for hero section
  src/layouts/BaseLayout.astro
  src/styles/critical-hero.css
  src/styles/fonts.css
Due: biome check --write

perf(dom): reduce DOM depth in HeroSection
  src/components/sections/HeroSection.astro
Due: biome check --write

perf(dom): reduce DOM depth in AboutSection
  src/components/sections/AboutSection.astro
Due: biome check --write

test(perf): add performance testing and budgets configuration
  lighthouserc.js
  package-lock.json
  package.json
  scripts/performance-test.js
Due: biome check --write

docs(perf): add comprehensive performance documentation and cleanup
  docs/PERFORMANCE.md
  src/layouts/BaseLayout.astro
Due: biome check --write, prettier --write

fix: revert lazy loading and view transitions breaking changes
  .claude/agents/product/product-technical.md
  .claude/docs/workflows/phase-1-planning.md
  .claude/docs/workflows/phase-3-validation.md
  .claude/sessions/planning/performance-optimization-2025-11/DECISION-REVERT-I18N-LAZY-LOADING.md
  .claude/sessions/planning/performance-optimization-2025-11/PDR.md
  .claude/sessions/planning/performance-optimization-2025-11/TODOs.md
  .claude/sessions/planning/performance-optimization-2025-11/tech-analysis-i18n-lazy-loading.md
  .claude/skills/qa/qa-criteria-validator.md
  src/components/sections/AboutSection.astro
  src/components/sections/ProjectsFeaturedSection.astro
  src/content/tools/animation-creator.md
  src/content/tools/color-palette-generator.md
  src/icons/tech/astro.svg
  src/icons/tech/canva.svg
  src/icons/tech/drizzle.svg
  src/icons/tech/git.svg
  src/icons/tech/hono.svg
  src/icons/tech/html5.svg
  src/icons/tech/javascript.svg
  src/icons/tech/nodejs.svg
  src/icons/tech/postgresql.svg
  src/icons/tech/react.svg
  src/icons/tech/typescript.svg
  src/icons/tech/zod.svg
  src/icons/timeline/avature.svg
  src/icons/timeline/make.svg
  src/layouts/BaseLayout.astro
  src/pages/[lang]/index.astro
  src/styles/generated-colors.css
Due: biome check --write, prettier --write

fix(css): fix hero name gradient rendering in Firefox and enhance colors
  src/components/transitions/ViewTransitionGSAP.astro
  src/layouts/BaseLayout.astro
  src/styles/critical-hero.css
Due: biome check --write

misc: update pnpm lock file
  package-lock.json
  pnpm-lock.yaml
Due: none

fix(build): add missing glob dependency and fix TypeScript errors
  integrations/timeline-sprite-watcher/index.ts
  package.json
  pnpm-lock.yaml
Due: biome check --write

refactor(pages): apply consistent design pattern to blog and tools pages
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/tools.astro
  src/pages/[lang]/tools/[...slug].astro
Due: biome check --write

feat(colors): add tools section colors and use dynamic color system
  integrations/color-interpolation.ts
  src/data/colors.ts
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/tools.astro
  src/pages/[lang]/tools/[...slug].astro
  src/styles/generated-colors.css
Due: biome check --write

fix(i18n): enable markdown to HTML transformation for blog and tools pages
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/tools.astro
Due: biome check --write

feat(nav): implement grid-style dropdown menus for services and tools
  src/components/interactive/NavDropdown.tsx
  src/components/interactive/ServicesDropdown.tsx
  src/components/interactive/ToolsDropdown.tsx
  src/components/layout/Navigation.astro
  src/locales/en/common.json
  src/locales/en/services.json
  src/locales/es/common.json
  src/locales/es/services.json
  tailwind.config.js
Due: biome check --write

fix(i18n): strip markdown formatting from document titles
  src/i18n/utils.ts
  src/pages/[lang]/blog/[...page].astro
  src/pages/[lang]/services/[slug].astro
  src/pages/[lang]/services/index.astro
  src/pages/[lang]/tools.astro
Due: biome check --write

refactor(pages): improve typography and styling for blog and tools pages
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/tools/[...slug].astro
Due: biome check --write

perf(contact): use client:visible for lazy hydration
  src/pages/[lang]/index.astro
Due: biome check --write

chore: remove unused barrel export and duplicate manifest
  public/site.webmanifest
  src/components/index.ts
Due: biome check --write

fix(manifest): use correct astro-favicons config properties
  astro.config.mjs
Due: none

docs(readme): update with project info and performance metrics
  README.md
Due: prettier --write

chore(lighthouse): rename config to .cjs for ESM compatibility
  lighthouserc.cjs
Due: none

docs(planning): update performance optimization progress to 82%
  .claude/sessions/planning/performance-optimization-2025-11/TODOs.md
Due: prettier --write

style: minor formatting and cleanup
  src/layouts/BaseLayout.astro
Due: biome check --write

docs(claude): add performance optimization learnings
  CLAUDE.md
Due: prettier --write

feat(perf): add PWA, prefetch, font optimization, and Mermaid lazy load
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
  src/styles/fonts.css
Due: biome check --write

fix(transitions): generate page titles from Content Collections
  src/components/transitions/ViewTransitionGSAP.astro
Due: biome check --write

refactor(styles): centralize markdown content styles in global.css
  src/pages/[lang]/blog/[slug].astro
  src/pages/[lang]/projects/[slug].astro
  src/pages/[lang]/tools/[...slug].astro
  src/styles/global.css
Due: biome check --write

style(content-prose): enhance markdown styles with professional visual effects
  src/styles/global.css
Due: none

feat(blog): add series, related posts, and navigation utilities
  src/content/config.ts
  src/locales/en/common.json
  src/locales/es/common.json
  src/utils/blog/getAdjacentPosts.ts
  src/utils/blog/getRelatedPosts.ts
  src/utils/blog/getSeriesPosts.ts
  src/utils/blog/index.ts
  src/utils/blog/types.ts
Due: biome check --write

feat(blog): add TableOfContents and redesign blog post page
  src/components/blog/TableOfContents.tsx
  src/pages/[lang]/blog/[slug].astro
  src/styles/global.css
Due: biome check --write

fix(layout): adjust footer z-index and minor code fixes
  .gitignore
  src/components/layout/Footer.astro
Due: biome check --write

chore(content): remove placeholder tool pages
  src/content/tools/animation-creator.md
  src/content/tools/color-palette-generator.md
Due: prettier --write

feat(blog): add callout system for enhanced blockquotes
  src/components/blog/Callout.astro
  src/components/blog/CalloutEnhancer.astro
  src/pages/[lang]/blog/[slug].astro
  src/styles/global.css
Due: biome check --write
