Repository qazuor/qazuor.com: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,astro}": ["biome check --write"],
    "*.md": ["prettier --write"]
}

feat(blog): add category routes with static pagination
  src/pages/[lang]/blog/category/[category]/[...page].astro
Due: biome check --write

feat(seo): add dynamic sitemap, RSS feeds, and discovery files
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/.well-known/security.txt
  public/humans.txt
  public/robots.txt
  src/components/layout/SEO.astro
  src/pages/[lang]/rss.xml.ts
  src/pages/sitemap.xml.ts
  vercel.json
Due: biome check --write

feat(seo): add XSL stylesheet for visual sitemap formatting
  public/sitemap.xsl
  src/pages/sitemap.xml.ts
Due: biome check --write

fix(seo): correct sitemap URLs for projects, snippets, and css-tricks
  src/pages/sitemap.xml.ts
Due: biome check --write

feat(blog): add MarkView editor blog post in ES and EN
  src/content/blog/_images/markview-blog.jpg
  src/content/blog/markview-editor-markdown-decisiones-tecnicas-en.md
  src/content/blog/markview-editor-markdown-decisiones-tecnicas-es.md
Due: prettier --write

feat(projects): add MarkView markdown editor project in ES and EN
  src/content/projects/_images/markview/1.png
  src/content/projects/_images/markview/2.png
  src/content/projects/_images/markview/3.png
  src/content/projects/_images/markview/4.png
  src/content/projects/_images/markview/5.png
  src/content/projects/markview-en.md
  src/content/projects/markview-es.md
Due: prettier --write

fix(seo): add redirects and fix SearchAction for Google indexing
  src/layouts/BaseLayout.astro
  vercel.json
Due: biome check --write

feat(footer): add MIT license and open source attribution
  LICENSE
  package.json
  src/components/layout/Footer.astro
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write

fix(projects): render ProjectCard visible in SSR to prevent blank page after View Transitions
  src/components/cards/ProjectCard.tsx
  tests/unit/components/cards/ProjectCard.test.tsx
Due: biome check --write

docs(specs): add SPEC-001 for qazuor commercial repositioning
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/README.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/design.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/metadata.json
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/proposal.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/spec.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/tasks.md
  .claude/specs/index.json
Due: prettier --write

docs(spec-001): phase 1 entry points map and route status table
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/phase-1-report.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/tasks.md
Due: prettier --write

feat(spec-001): add work route shells for es and en locales
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/work/[slug].astro
  src/pages/[lang]/work/index.astro
Due: biome check --write

feat(spec-001): add hire, about and contact route shells for es and en
  src/pages/[lang]/about/index.astro
  src/pages/[lang]/contact/index.astro
  src/pages/[lang]/hire/index.astro
Due: biome check --write

feat(spec-001): centralize navigation and footer data sources
  src/data/footer.ts
  src/data/index.ts
  src/data/navigation.ts
  src/locales/en/common.json
  src/locales/es/common.json
Due: biome check --write

docs(spec-001): finalize phase 1 foundations report and check off tasks
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/phase-1-report.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/tasks.md
Due: prettier --write

chore(ci): gitignore auto-generated giscus CSS and add verification workflow
  .github/workflows/verify-giscus-css.yml
  .gitignore
  public/styles/giscus-custom-light.css
  public/styles/giscus-custom.css
Due: none

feat(spec-001): add NavIconId resolver for navigation data
  src/data/navIcons.tsx
Due: biome check --write

feat(spec-001): rewire primary nav to commercial-first order
  src/components/navigation/FloatingNav.tsx
  src/components/navigation/MobileUtilitiesPopover.tsx
  src/layouts/BaseLayout.astro
Due: biome check --write

feat(spec-001): rewire footer to consume central data and add goodies discovery
  src/components/layout/Footer.astro
Due: biome check --write

fix(spec-001): resolve duplicate i18n keys and parseColors missing sections
  integrations/color-interpolation.ts
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/about/index.astro
  src/pages/[lang]/contact/index.astro
Due: biome check --write

feat(spec-001): add color transitions for WhyQazuor and FeaturedWork sections
  integrations/color-interpolation.ts
  src/components/ui/dividers/DiagonalDivider.astro
  src/components/ui/dividers/WaveDivider.astro
  src/components/ui/dividers/ZigZagDivider.astro
  src/data/sectionBackgrounds.ts
Due: biome check --write

feat(spec-001): add showResume opt-out prop to HeroSection
  src/components/sections/HeroSection.astro
Due: biome check --write

refactor(spec-001): remove personal WhyWorkWithMe panel and dead i18n keys
  src/components/sections/ServicesPreviewSection.astro
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/index.astro
Due: biome check --write

feat(spec-001): add WhyQazuor and FeaturedWork homepage sections
  src/components/sections/FeaturedWorkSection.astro
  src/components/sections/WhyQazuorSection.astro
Due: biome check --write

fix(spec-001): pass through hero CTA hrefs and finalize homepage restructure
  src/components/sections/HeroSection.astro
  src/pages/[lang]/index.astro
  src/styles/generated-section-backgrounds.css
Due: biome check --write

docs(spec-001): finalize phase 2 homepage and navigation report
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/phase-2-report.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/tasks.md
Due: prettier --write

feat(content): add work collection schema for commercial case studies
  src/content/config.ts
Due: biome check --write

feat(work): add i18n strings, section background, and slug helper for work hub
  src/data/sectionBackgrounds.ts
  src/locales/en/common.json
  src/locales/es/common.json
  src/styles/global.css
  src/utils/work.ts
Due: biome check --write

feat(content): seed three curated commercial case studies (en + es)
  src/content/work/cheroga-casa-quinta-en.md
  src/content/work/cheroga-casa-quinta-es.md
  src/content/work/claude-code-config-en.md
  src/content/work/claude-code-config-es.md
  src/content/work/markview-en.md
  src/content/work/markview-es.md
Due: prettier --write

feat(work): add WorkJsonLd and WorkCard components for case study surface
  src/components/cards/WorkCard.astro
  src/components/seo/WorkJsonLd.astro
Due: biome check --write

feat(work): implement /work index with curated case study cards
  src/pages/[lang]/work/index.astro
Due: biome check --write

feat(work): add work detail page and work data utility
  src/pages/[lang]/work/[slug].astro
  src/utils/work.ts
Due: biome check --write

docs(spec-001): finalize phase 3 work and portfolio separation report
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/phase-3-report.md
  .claude/specs/SPEC-001-qazuor-commercial-repositioning/tasks.md
Due: prettier --write

feat(services): add decision-outcome groupings and service detail fields for phase 4
  src/data/index.ts
  src/data/services.ts
  src/locales/en/services.json
Due: biome check --write

feat(i18n): add hire about and contact page strings for phase 4
  src/locales/en/common.json
  src/locales/es/common.json
Due: none

feat(hire): add HireProfile data source and Person JSON-LD component
  src/components/seo/PersonJsonLd.astro
  src/data/hire.ts
Due: biome check --write

feat(services): reframe hub around decision-outcome groupings
  src/locales/en/common.json
  src/locales/es/common.json
  src/pages/[lang]/services/index.astro
Due: biome check --write

feat(services): add who-its-for, problems-solved, related-work, stronger CTA to service detail
  src/components/sections/ServiceAudienceSection.astro
  src/components/sections/ServiceCtaSection.astro
  src/components/sections/ServiceRelatedSection.astro
  src/locales/en/services.json
  src/locales/es/services.json
  src/pages/[lang]/services/[slug].astro
Due: biome check --write

feat(hire): build recruiter-oriented landing page from HireProfile
  src/pages/[lang]/hire/index.astro
Due: biome check --write

feat(about): build brand and operator context page
  src/pages/[lang]/about/index.astro
Due: biome check --write
